@using CI_Platfrom.Entities.Models.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model TimesheetVM

@{
    ViewData["Title"] = "TimeSheet";
    Layout = "~/Views/Shared/_TimesheetHeader.cshtml";
}


  <style>
       .orange_color{
          border: 2px solid #F88634;
          color:#F88634;
          }
  </style>

  <div class="container">

        <h3>Volunteering Timesheet</h3>

        <div class="row justify-content-between mt-4">

            <div class="col-12  col-md-6   pe-lg-5">
                    <div class="col d-flex mt-4 ms-0 justify-content-between bg-white align-items-center flex-row ">
                        <span style="font-size: 20px;" >Volunteering Hours</span>
                        <button class="orange_color rounded-pill  bg-white" data-bs-toggle="modal" data-bs-target="#TimeBaseTimeSheet"><span class="me-1"><i class="bi bi-plus-circle"></i></span>Add</button>
                    </div>

                    <div class="table-responsive">
                           <table class="table mt-3 table-borderless">
                               <thead>
                                   <tr>
                                       <th scope="col">Mission</th>
                                       <th scope="col">Date</th>
                                       <th scope="col">Hours</th>
                                       <th scope="col">Minutes</th>
                                      
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr>
                                       <td>Environment Coversation</td>
                                       <td>22/02/2022</td>
                                       <td>1h</td>
                                       <td>30min</td>
                                       <td>
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                               class="bi bi-pencil-square" style="color: #F88634" viewBox="0 0 16 16"  >
                                               <path
                                                   d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                               <path fill-rule="evenodd"
                                                   d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                           </svg>
                                       </td>
                                       <td>
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                               class="bi bi-trash3" viewBox="0 0 16 16">
                                               <path
                                                   d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                           </svg>
                                       </td>
                                   </tr>
                           
                               </tbody>
                           </table>
                       </div>
            </div>

                    <div class="col-12 col-md-6  ps-lg-5">                  
                        <div class="col d-flex mt-4 ms-0 justify-content-between bg-white align-items-center flex-row ">
                        <span style="font-size: 20px;" >Volunteering Goals</span>
                        <button class="orange_color rounded-pill  bg-white" data-bs-toggle="modal" data-bs-target="#GoalBaseTimeSheet"><span class="me-1"><i class="bi bi-plus-circle"></i></span>Add</button>
                        </div>
                        <div class="table-responsive">
                           <table class="table mt-3 table-borderless">
                               <thead>
                                   <tr>
                                       <th scope="col">Mission</th>
                                       <th scope="col">Date</th>
                                       <th scope="col">Action</th>
                                       
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr>
                                       <td>Mark</td>
                                       <td>22/02/2022</td>
                                       <td>0</td>
                                       <td>
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                               class="bi bi-pencil-square" style="color: #F88634" viewBox="0 0 16 16" >
                                               <path
                                                   d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                               <path fill-rule="evenodd"
                                                   d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                           </svg>
                                       </td>
                                       <td>
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                               class="bi bi-trash3" viewBox="0 0 16 16">
                                               <path
                                                   d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                           </svg>
                                       </td>
                                   </tr>
                           
                           
                               </tbody>
                           </table>
                        </div>


                     </div>
        
        </div>

 </div>


    <!-- bootstrap Modal for TimeBaseTimeSheet -->
<div class="modal fade" id="TimeBaseTimeSheet" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form method="post"  asp-action="AddTimeSheet" asp-controller="VolunteeringTimeSheetController">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please input below Volunteering Hours</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col">
                    <label class="">Mission</label>
                    <select class="form-select mt-2" id="SelectMissionTime" asp-for="@Model.particularTimesheet.MissionId" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                            @{ var timeBasedMission = @Model.LogingUserMissions.Where(e => e.Mission.MissionType == "TIME");
                                if(timeBasedMission != null)
                                {
                                    foreach (var item in timeBasedMission)
                                    {
                                        <option value="@item.Mission.MissionId">@item.Mission.Title</option>
                                    }
                                    
                                }
                            }
                      </select>
                </div>
                <div class="col">
                    <label class="mt-2">Date Volunteered</label>
                    <input type="date" asp-for="@Model.particularTimesheet.DateVolunteered" max="" min="" class="form-control mt-2" id="DateTimeMission">
                   
                    
                </div>
                <div class="row">
                    <div class="col-6">
                    <label class="mt-2">Hours</label>
                    <input type="number" class="form-control mt-2" asp-for ="@Model.hour" id="HourWorkTime" max="24" min="0" aria-label="" placeholder="Enter Spent Hours">
                    </div>
                    <div class="col-6">
                        <label class="mt-2">Minutes</label>
                        <input type="number" class="form-control mt-2" asp-for ="@Model.minute" max="60" min="0" id="MinutesWorkTime" aria-label="" placeholder="Enter Spent Minutes">
                    </div>
                </div> 

                <div class="col mt-2">
                    <label class="mt-2">Message</label>
                    <textarea class="form-control mt-2" asp-for="@Model.particularTimesheet.Notes" placeholder="Enter your message" id="MessageTime"></textarea>                    
                </div>               
            </div>
            <div class="modal-footer">
                <button type="button" class="px-3 py-1  text-center rounded-pill bg-white " data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="px-3 py-1  orange_color rounded-pill bg-white border-2">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>


<!-- bootstrap Modal for GoalBaseTimeSheet -->

<div class="modal fade" id="GoalBaseTimeSheet" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form method="post" asp-action="AddTimeSheet" asp-controller="VolunteeringTimeSheetController">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please input below Volunteering Goal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col">
                    <label class="">Mission</label>
                    <select class="form-select mt-2" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                          @{
                              var goalBasedMissions = @Model.LogingUserMissions.Where(e => e.Mission.MissionType == "GOAL");
                                if(goalBasedMissions != null)
                                {
                                    foreach (var item in goalBasedMissions)
                                    {
                                        <option>@item.Mission.Title</option>
                                    }
                                    
                                }
                            }
                      </select>
                </div>
                <div class="col">
                    <label class="mt-2">Please input below Volunteering Goal</label>
                    <input type="text" asp-for="@Model.particularTimesheet.Action" placeholder="Enter Actions" class="form-control mt-2" >
                   
                    
                </div>
                <div class="col">
                    <label class="mt-2">Date Volunteered</label>
                    <input type="text" asp-for="@Model.particularTimesheet.DateVolunteered" placeholder="04-11-2019" class="form-control mt-2" >
                </div> 

                <div class="col mt-2">
                    <label class="mt-2">Message</label>
                    <textarea class="form-control mt-2" asp-for="@Model.particularTimesheet.Notes" placeholder="Enter your message" id="floatingTextarea"></textarea>                    
                </div>               
            </div>
            <div class="modal-footer">
                <button type="button" class="px-3 py-1  text-center rounded-pill bg-white " data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="px-3 py-1  orange_color rounded-pill bg-white border-2">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>

    
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/Timesheet.js" ></script>