@using CI_Platfrom.Entities.Models.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "PrivacyPolicy Page";
    Layout = "~/Views/Shared/_StoryHeader.cshtml";
}

@model StoryVM





<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="mt-4 mb-4">Privacy and Cookie Policy</h3>
        </div>

        <div class="col-3 d-none d-md-block">
            <div style="position: sticky; top: 5%;left: 0;">
                <div class="d-flex flex-column mt-3 ">
                    @{
                        var allcmsPages = @Model.CmsPages;
                        if (allcmsPages != null)
                        {
                            foreach (var item in allcmsPages)
                            {
                                <a href="#@item.Slug" class="text-decoration-none text-dark mt-2">
                                    <div class="d-flex justify-content-between pb-3 border-bottom">
                                        @item.Title
                                        <img src="~/images/arrow.png" class="mt-1 me-3" height="13px" width="5x" alt="">
                                    </div>
                                </a>
                            }
                        }


                    }
                    @*<a href="#Cookie" class="text-decoration-none text-dark">
                        <div class="d-flex justify-content-between pb-3 pt-2 border-bottom">
                        How does use Cookies ?
                        <img src="~/images/arrow.png" class="mt-1 me-3" height="13px" width="5x" alt="">
                        </div>
                        </a>

                        <a href="#ManageCookie" class="text-decoration-none text-dark">
                        <div class="d-flex justify-content-between pb-3 pt-2 border-bottom">
                        How to manage your cookie
                        <img src="~/images/arrow.png" class="mt-1 me-3" height="13px" width="5x" alt="">
                        </div>
                        </a>

                        <a href="" class="text-decoration-none text-dark">
                        <div class="d-flex justify-content-between pb-3 pt-2 border-bottom">
                        Preferences ?
                        <img src="~/images/arrow.png" class="mt-1 me-3" height="13px" width="5x" alt="">
                        </div>
                        </a> *@

                </div>
            </div>
        </div>

        <div class="col-9">

            @foreach (var particualrCMSPage in @Model.CmsPages)
            {
                <div id="@particualrCMSPage.Slug" class="introduction mb-4">
                    <h3>@particualrCMSPage.Title</h3>

                    <div class="row mt-3">
                        <div class="col">
                            <div>
                                @Html.Raw(particualrCMSPage.Description)
                            </div>
                        </div>
                    </div>
                </div>
            }
            @* <div id="Cookie" class="cookie mt-4 mb-4">
                <h3>How does use cookies?</h3>

                <div class="mt-3">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                </div>

                <div class="mt-4">
                <p style="font-size: 22px;" class="mb-2">Why Optimy Uses These Technologies? </p>
                <div>
                We use these technologies for a number of purposes, such as:
                <ul class="mt-2">
                <li class="mt-1">
                But I must explain to you how all this mistaken idea of denouncing pleasure and
                praising
                pain.
                </li>
                <li class="mt-1">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum deleniti atque excepturi sint occaecati cupiditate non
                provident,
                similique sunt in culpa qui officia deserunt mollitia animi.
                </li>
                <li class="mt-1">
                On the other hand, we
                denounce with righteous indignation and dislike men who are so beguiled and
                demoralized
                </li>
                <li class="mt-1">
                But I must explain to you how all this mistaken idea of denouncing pleasure and
                praising
                pain.
                </li>
                <li class="mt-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore
                </li>
                </ul>

                <div>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt.
                </div>
                </div>
                </div>
                </div>*@
            @*
                <div id="ManageCookie" class="mt-4">
                <h3>
                How to manage your cookie preferences?
                </h3>

                <div class="mt-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>

                <div class="mt-4">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
                modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
                veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                </div>

                <p style="font-size: 22px;" class="mt-4 mb-2">Subtitle goes here</p>

                <ol class="mt-2 list-group-numbered">

                <li class="mt-1">
                But I must explain to you how all this mistaken idea of denouncing pleasure and
                praising
                pain.
                <ol class="mt-1 list-group-numbered">
                <li class="mt-1">
                On the other
                hand, we denounce with righteous indignation and dislike men who are so beguiled.
                </li>
                <li class="mt-1">
                On the other hand, we denounce
                with righteous indignation and dislike men who are so beguiled.
                </li>
                </ol>
                </li>
                <li class="mt-1">
                At vero eos et accusamus et iusto odio dignissimos
                ducimus qui blanditiis praesentium voluptatum deleniti atque excepturi sint occaecati
                cupiditate non provident,
                similique sunt in culpa qui officia deserunt mollitia animi.
                </li>
                <li class="mt-1">
                But I must explain to you how all this mistaken idea
                of denouncing pleasure and praising pain.
                </li>
                <li class="mt-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore
                </li>
                </ol>

                <div class="mt-4">
                <h1 class="mt-2">The first level heading - H1 </h1>
                <h2 class="mt-2">The second level heading - H2 </h2>
                <h3 class="mt-3">The third level heading - H3</h3>
                <h4 class="mt-3">The forth level heading - H4 </h4>
                <h5 class="mt-3">The fifth level heading - H5</h5>
                <h6 class="mt-3">The sixth level heading - H6</h6>
                </div>

                <div class="mt-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                </div>*@
        </div>
    </div>
</div>
