@using CI_Platfrom.Entities.Models.ViewModel
@using System.Globalization
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}


@model AdminVM
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/datatables.css" >
    <link rel="stylesheet" href="~/css/datatables.min.css" >
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <style>
            .nav-pills .nav-link.active, .nav-pills .show>.nav-link{ 
                background-color: #FFFFFF ; 
                color: #F88634;
                
                
            }
            .dataTables_filter{
                margin-bottom:12px;
            }
            .nav-pills .nav-link{
                color:white;
            }
            .orange__color {
                color:#F88634;
                background-color: #F88634;
                border-color:#F88634;
            }
    </style>
</head>
<body class="container-fluid">
    <div class="d-flex align-items-start row">
        
        <div class="orange__color col-2 nav flex-column nav-pills min-vh-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
         
            <span class="text-white ms-4 mt-5 pt-5  mb-2">Navigation</span>
            <button class="nav-link  active text-start activeBtn ms-2 me-2 mb-2" id="v-pills-User-tab" data-bs-toggle="pill" data-bs-target="#v-pills-User" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
              <i class="bi bi-person ms-2"></i>   
              User
            </button>
            <button class="nav-link mb-2 text-start  ms-2 me-2" id="v-pills-CMSPage-tab" data-bs-toggle="pill" data-bs-target="#v-pills-CMSPage" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
              <i class="bi bi-file-earmark-text"></i>
              CMS Page
            </button>
            <button class="nav-link mb-2 text-start ms-2 me-2" id="v-pills-Mission-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Mission" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
              <i class="bi bi-bullseye"></i>
              Mission
            </button>
            <button class="nav-link mb-2 text-start ms-2 me-2" id="v-pills-MissionTheme-tab" data-bs-toggle="pill" data-bs-target="#v-pills-MissionTheme" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <i class="bi bi-grid-1x2"></i>
              Mission Theme
            </button>
            <button class="nav-link mb-2 text-start ms-2 me-2" id="v-pills-MissionSkills-tab" data-bs-toggle="pill" data-bs-target="#v-pills-MissionSkills" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <i class="bi bi-tools"></i>
              Mission Skills
            </button>
            <button class="nav-link mb-2 text-start ms-2 me-2" id="v-pills-MissionApplication-tab" data-bs-toggle="pill" data-bs-target="#v-pills-MissionApplication" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <i class="bi bi-folder2"></i>
              Mission Application
            </button>
            <button class="nav-link mb-2 text-start ms-2 me-2" id="v-pills-Story-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Story" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <i class="bi bi-journal-medical"></i>
              Story
            </button>
            <button class="nav-link mb-2 text-start ms-2 me-2" id="v-pills-BannerManagement-tab" data-bs-toggle="pill" data-bs-target="#v-pills-BannerManagement" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <i class="bi bi-emoji-wink"></i>
              Banner Management
            </button>
          
        </div>
        <div class="tab-content col-10" id="v-pills-tabContent">

            @*HEADER OF ADMIN PAGE*@
            <div class="row bg-transperent border mb-4">
                <div class="col-12 d-flex flex-row align-items-center mb-2 mt-2 justify-content-between">

                  <div>@DateTime.Now.DayOfWeek.ToString(), @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(@DateTime.Now.Month) @DateTime.Now.Day, @DateTime.Now.Year, @DateTime.Now.Hour:@DateTime.Now.Minute </div>
                
                  <div class="dropdown text-end me-sm-5">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/user-img.png" alt="user image" width="40" height="40" class="rounded-circle" data-bs-toggle="modal" data-bs-target="#ImageModal">
                        <span class="d-none d-sm-inline">Dev Patel</span>
                    </a>
                    <ul class="dropdown-menu text-small mt-3" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" asp-controller="VolunteeringTimeSheet" asp-action="VolunteeringTimeSheet">Volunteering Timesheet</a></li>
                        <li><a class="dropdown-item" asp-controller="Registration" asp-action="Profile">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" asp-controller="Authentication" asp-action="logout">Sign out</a></li>
                    </ul>
                  </div>

                </div>
            </div>

            @* USER PAGE*@

          <div class="tab-pane fade show active" id="v-pills-User" role="tabpanel" aria-labelledby="v-pills-User-tab">
            <div class="d-flex align-items-center justify-content-between flex-row mb-2">
                <h3 class="border-bottom border-4 border-dark">User</h3>
                <button class="orange__color rounded-pill  bg-white me-2">
                    <span class="me-2"><i class="bi bi-plus-circle"></i></span>Add
                </button>
            </div>
            <div class="table-responsive">
              <table class="table border DataTablesId">
                <thead style="background-color: #f9f9f9;">
                  <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Employee Id</th>
                    <th scope="col">Department</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    @{
                       foreach (var item in Model.Users)
                       {                     
                          <tr>
                            <td scope="col">@item.FirstName</td>
                            <td scope="col">@item.LastName</td>
                            <td scope="col">@item.Email</td>
                            <td scope="col">@item.EmployeeId</td>
                            <td scope="col">@item.Department</td>
                            
                            @if(@item.Status == 1)
                            {
                                <td scope="col" class="text-success">Active </td>
                            }
                            else
                            {
                                <td scope="col" class="text-danger">In Active</td>
                            }
                            
                            <td>
                              <button class="border-0 bg-white">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                     class="bi bi-pencil-square" style="color: #F88634;pointer-events:none" viewBox="0 0 16 16"  >
                                     <path
                                         d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                     <path fill-rule="evenodd"
                                         d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                 </svg>
                              </button>

                              <button class="border-0 bg-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16" style="pointer-events:none">
                                    <path
                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                </svg>
                              </button>                          

                      
                            </td>
                          </tr>
                        }
                    }
                 
                  
                </tbody>
              </table>
            </div>
          </div>
         
            @* CMS PAGE*@

          <div class="tab-pane fade" id="v-pills-CMSPage" role="tabpanel" aria-labelledby="v-pills-CMSPage-tab">B</div>
          
             @* MISSION  PAGE*@

          <div class="tab-pane fade" id="v-pills-Mission" role="tabpanel" aria-labelledby="v-pills-Mission-tab">

             <div class="d-flex align-items-center justify-content-between flex-row mb-2">
                <h3 class="border-bottom border-4 border-dark">Mission</h3>
                <button class="orange__color rounded-pill  bg-white me-2">
                    <span class="me-2"><i class="bi bi-plus-circle"></i></span>Add
                </button>
             </div>

             <div class="table-responsive">
                <table class="table border DataTablesId">
                  <thead style="background-color: #f9f9f9;">
                    <tr>
                      <th scope="col">Mission Title</th>
                      <th scope="col">Mission type</th>
                      <th scope="col">Start Date</th>
                      <th scope="col">End Date</th>                      
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                      @{
                         foreach (var item in Model.missions)
                         {                     
                            <tr>
                              <td scope="col">@item.Title</td>
                              <td scope="col">@item.MissionType</td>
                              <td scope="col">@item.StartDate.Value.ToShortDateString()</td>
                              <td scope="col">@item.EndDate.Value.ToShortDateString()</td>                             
                              <td>
                                <button class="border-0 bg-white">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                       class="bi bi-pencil-square" style="color: #F88634;pointer-events:none" viewBox="0 0 16 16"  >
                                       <path
                                           d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                       <path fill-rule="evenodd"
                                           d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                   </svg>
                                </button>

                                <button class="border-0 bg-white">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                      class="bi bi-trash3" viewBox="0 0 16 16" style="pointer-events:none">
                                      <path
                                          d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                  </svg>
                                </button>                          

                        
                              </td>
                            </tr>
                          }
                      }
                   
                    
                  </tbody>
                 </table>
             </div>
          </div>
          
             @* MISSION THEME PAGE*@

          <div class="tab-pane fade" id="v-pills-MissionTheme" role="tabpanel" aria-labelledby="v-pills-MissionTheme-tab">MissionTheme</div>
         
            @* MISSION SKILLS PAGE*@

          <div class="tab-pane fade" id="v-pills-MissionSkills" role="tabpanel" aria-labelledby="v-pills-MissionSkills-tab">.MissionSkills.</div>
         
            @* MISSION APPLICATION PAGE*@

          <div class="tab-pane fade" id="v-pills-MissionApplication" role="tabpanel" aria-labelledby="v-pills-MissionApplication-tab">
           
            <div class="d-flex align-items-center justify-content-between flex-row mb-2">
                <h3 class="border-bottom border-4 border-dark">Mission Application</h3>
                <button class="orange__color rounded-pill  bg-white me-2">
                    <span class="me-2"><i class="bi bi-plus-circle"></i></span>Add
                </button>
            </div>

            <div class="table-responsive">
              <table class="table border DataTablesId">
                <thead style="background-color: #f9f9f9;">
                  <tr>
                    <th scope="col">Mission Title</th>
                    <th scope="col">Mission Id</th>
                    <th scope="col">User Id</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Applied Date</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    @{
                       foreach (var item in Model.missionApplication)
                       {                     
                          <tr>
                            <td scope="row">@item.Mission.Title</td>
                            <td>@item.MissionId</td>
                            <td>@item.UserId</td>
                            <td>@item.User.FirstName @item.User.LastName</td>
                            <td>@item.AppliedAt</td>
                            <td>
                              <button class="border-0 bg-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="text-success bi bi-check-circle" viewBox="0 0 16 16">
                                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                </svg>
                              </button>

                              <button class="border-0 bg-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="text-danger bi bi-x-circle" viewBox="0 0 16 16">
                                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                              </button>                          

                      
                            </td>
                          </tr>
                        }
                    }
                 
                  
                </tbody>
              </table>
            </div>
          </div>

            @* STORY PAGE*@

          <div class="tab-pane fade" id="v-pills-Story" role="tabpanel" aria-labelledby="v-pills-Story-tab">
            
            <div class="d-flex align-items-center justify-content-between flex-row mb-2">
                <h3 class="border-bottom border-4 border-dark">Story</h3>
                <button class="orange__color rounded-pill  bg-white me-2">
                    <span class="me-2"><i class="bi bi-plus-circle"></i></span>Add
                </button>
            </div>
            <div class="table-responsive">
              <table class="table border DataTablesId">
                <thead style="background-color: #f9f9f9;">
                  <tr>
                    <th scope="col">Story Title</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Mission Title</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    @{
                       foreach (var item in Model.stories)
                       {                     
                          <tr>
                            <td scope="col">@item.Title</td>
                            <td scope="col">@item.User.FirstName @item.User.LastName</td>
                            <td scope="col">@item.Mission.Title</td>
                            <td>
                              <button class="border-1 orange__color  rounded-pill bg-white" style="border-color:#F88634">
                                <span>view</span>
                              </button>

                              <button class="border-0 bg-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="text-success bi bi-check-circle" viewBox="0 0 16 16">
                                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                </svg>
                              </button>

                              <button class="border-0 bg-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="text-danger bi bi-x-circle" viewBox="0 0 16 16">
                                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                              </button> 
                              
                              <button class="border-0 bg-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16" style="pointer-events:none">
                                    <path
                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                </svg>
                              </button>
                      
                            </td>
                          </tr>
                        }
                    }
                 
                  
                </tbody>
              </table>
            </div>
          </div>
          
            @* BANNER MANAGEMENT PAGE*@
          <div class="tab-pane fade" id="v-pills-BannerManagement" role="tabpanel" aria-labelledby="v-pills-BannerManagement-tab">BannerManagement</div>
        
        </div>
      </div>

      
       <script src="~/lib/jquery/dist/jquery.min.js"></script>
      <script src="~/js/datatables.js"></script>
      <script src="~/js/datatables.min.js"></script>
      <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      
      <script>
        $(document).ready(function(){
          $('.DataTablesId').DataTable({
            info:false,
            lengthChange:false,
            dom: '<"float-start"f><".DataTablesId"t>i<"#paginatorId"lp>',
            
            
          });
        });
      </script>
</body>
</html>