@using CI_Platfrom.Entities.Models.ViewModel
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
ViewData["Title"] = "Landing Page";
Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



@model MissionVM
@*

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platfrom Landing Page</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/landingpage.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script>
        window.onload = function () {
            document.getElementById("grid__view__button").click();
        };
    </script>
</head>*@

    <div class="container">



            <!--   side bar for small Screen  -->

           @* <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <form class="d-flex align-items-center mx-1 ">
                    <input class="form-control  ms-2 border-0" type="search" placeholder="Search missions...."
                        aria-label="Search">
                </form>
                <a href="#">
                    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Country
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">India</a></li>
                        <li><a class="dropdown-item" href="#">Canada</a></li>
                        <li><a class="dropdown-item" href="#">USA</a></li>
                    </ul>
                </a>

                <a href="#">
                    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        City
                    </a>
                    <ul class="dropdown-menu ps-4" aria-labelledby="navbarDropdownMenuLink">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Tirana
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Durres
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Vlore
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Elbasan
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Shkoder
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Fier
                            </label>
                        </div>
                    </ul>
                </a>

                <a href="#">
                    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Theme
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Environment</a></li>
                        <li><a class="dropdown-item" href="#">Nutrition</a></li>
                        <li><a class="dropdown-item" href="#">Education</a></li>
                    </ul>
                </a>
                <a href="#">
                    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Skills
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Cool</a></li>
                        <li><a class="dropdown-item" href="#">Easy Going</a></li>
                        <li><a class="dropdown-item" href="#">Math</a></li>
                        <li><a class="dropdown-item" href="#">Computer</a></li>
                    </ul>
                </a>
                <a href="#">
                    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Stories
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Somethi</a></li>
                    </ul>

                </a>
                <a href="#">
                    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Policies
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Policy 1</a></li>
                        <li><a class="dropdown-item" href="#">Policy 2</a></li>
                        <li><a class="dropdown-item" href="#">Policy 3</a></li>
                    </ul>
                </a>

                <!-- <a href="#">Contact</a>
                    <a href="#">Contact</a>  -->


            </div>*@

  
        @*
            <div class="main">
                <div class="d-flex justify-content-between border-bottom d-sm-none" id="menubr">
                    <button class="openbtn " id="openbtn" onclick="openNav()">
                        <img src="~/images/list.png" alt="">
                    </button>
                    <p>&nbsp</p>
                    <div class="dropdown text-end start-0 d-sm-none " id="img_user">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/images/user-img.png" alt="user image" width="40" height="40" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small mt-3" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/Authentication/login">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>*@

            <!-- fileter and profile pic for small screen -->

        @*
            <div class="container">
                <header class="p-3 mb-3 ">
                    <div class="container d-none d-sm-block ">
                        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">


                            <ul class="nav col-auto col-lg-auto me-auto mb-2 justify-content-center mb-md-0 gap-3 ms-5 ">
                                <li><a href="/Story/StoryListingPage" class="nav-link px-2 link-dark">Stories</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Policies
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>

                            </ul>

                            <div class="dropdown text-end ">
                                <a href="#" class="d-inline d-sm-block link-dark text-decoration-none dropdown-toggle"
                                    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/images/user-img.png" alt="user image" width="40" height="40"
                                        class="rounded-circle">
                                    <span class="">Evan Donohue</span>
                                </a>
                                <ul class="dropdown-menu text-small mt-3" aria-labelledby="dropdownUser1">
                                    <li><a class="dropdown-item" href="#">New project...</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/Authentication/login">Sign out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>

            </div>*@




            <!-- Serch and fileter options -->

           @* <nav class="navbar navbar-expand-lg navbar-light bg-white  d-none d-sm-block ">
                <div class="container-fluid">
                    <div class="col-auto col-sm-4  mt-2 border-end ">
                        <form class="d-flex align-items-center ">
                            <img class="" width="20" height="20" src="~/images/search.png">
                            <input class="form-control  ms-2 border-0" type="search" placeholder="Search" aria-label="Search">

                        </form>
                    </div>
                    <div class="col-auto col-sm-2 mt-2 border-end ">
                        <div class="dropdown">
                            <a class="btn bg-white  " data-toggle="dropdown" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Country
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chevron-down ms-lg-5" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">India</a></li>
                                <li><a class="dropdown-item" href="#">Canada</a></li>
                                <li><a class="dropdown-item" href="#">USA</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto col-sm-2 mt-2 border-end">
                        <div class="dropdown">
                            <a class="btn bg-white  " data-toggle="dropdown" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                City
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chevron-down ms-lg-5" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </a>


                            <ul class="dropdown-menu ps-4 " aria-labelledby="navbarDropdownMenuLink">
                                <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Tirana
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Durres
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Vlore
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Elbasan
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Shkoder
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Fier
                                    </label>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto col-sm-2 mt-2 border-end">
                        <div class="dropdown">
                            <a class="btn bg-white " data-toggle="dropdown" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Skill
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chevron-down ms-lg-5" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </a>



                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Environment</a></li>
                                <li><a class="dropdown-item" href="#">Nutrition</a></li>
                                <li><a class="dropdown-item" href="#">Education</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto col-sm-2 mt-2 border-end">
                        <div class="dropdown">
                            <a class="btn bg-white" data-toggle="dropdown" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Theme
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chevron-down ms-lg-5" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Cool</a></li>
                                <li><a class="dropdown-item" href="#">Easy Going</a></li>
                                <li><a class="dropdown-item" href="#">Math</a></li>
                                <li><a class="dropdown-item" href="#">Computer</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </nav>*@



            <!-- mobile view html for serch and filter  -->


        @*
            <div class="container-fluid border-bottom border-2 d-sm-none mb-3">
                <div class="col-auto col-sm-4 mt-2 mb-2">
                    <form class="d-flex align-items-center ">
                        <input class="form-control ms-2 border-0" type="search" placeholder="Search missions..."
                            aria-label="Search">
                        <img src="~/images/filter.png" class="gap-2" onclick="openNav()" alt="">
                    </form>
                </div>
            </div>*@

    
            




            <!-- chips section -->

            <div id="filteritems" class="my-4 d-none d-sm-flex">

           
                    <div id="newCityPills">

                    </div>
                    <div id="newSkillPills">

                    </div>
                    <div id="newThemePills">

                    </div>
                </div> 






            <!-- total mission, Sort By , grid and list Buttons -->

           



            <!--    nomission page -->

           





            <!-- Grid Cards  -->
            <div id="GridCardContainer">

            <partial name="_GridCards"  model=@Model/>

            </div>
        @*
            <div id="grid__view__container">
                <div class="row mt-3 row-cols-1 row-cols-sm-2 row-cols-lg-3  " id="gridmission__row">
                    @foreach (var item in Model.Mission)
                    {


                    <div class="col  mb-3 total__mission" >
                        <div class="card" style="max-width: 26rem;">

                            <div style="position: relative;">
                               if(item.MissionMedia.Count > 0)
                                        {
                                            <img class="card-img-top"
                                             src="@item.MissionMedia.FirstOrDefault(m => m.DefaultMissionMedia == 1).MediaPath"
                                             alt="Card image cap">
                                        }
                                        else
                                        {
                                            <img class="card-img-top"
                                             src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                                             alt="Card image cap">                                    
                                        }
                                <div style="position: absolute;bottom: 0;width: 100%;">
                                    <p class="m-0 bg-white border rounded-pill text-center w-50"
                                        style="transform: translate(50%, 50%) ;">@item.Theme.Title</p>
                                </div>

                                <div class="heart_image_container rounded-circle ">
                                        @{
                                             var favCountofgrid = item.FavoriteMissions.Where(m => m.UserId == Model.user.UserId).Count();
                                            if (favCountofgrid > 0)
                                             {
                                            <button
                                                        class="heart__image addToFavdiv rounded-circle bg-transparent border-0" value="@item.MissionId @Model.user.UserId"   >
                                                     <img src="~/images/red Heart.png" class="p-1">
 
                            
                                            </button>
                                             }
                                            else
                                            {
                                                <button
                                                    class=" heart__image addToFavdiv rounded-circle bg-transparent border-0"    value="@item.MissionId @Model.user.UserId">
                                                    <img src="~/images/heart.png" alt="" class="" style="pointer-events:none" width="22px" height="22px" />
                            
                                                </button>
                                            }
                                         }
                                </div>

                                <div class="rounded-circle add__person__image__container">
                                    <img src="~/images/user.png" class="add__person__image">
                                </div>

                                <div class="city__container rounded-pill p-2">
                                    <img src="~/images/pin.png" class="locatin__image">
                                    <span class="text-white ">@item.City.Name</span>
                                </div>

                            </div>

                            <div class="card-body">
                                <h3 class="card-title  text-start mt-2">@item.Title
                                </h3>
                                <p class="card-text text-start">@item.ShortDescription</p>
                                <div class="d-flex justify-content-between mb-1 ">
                                    <span>@item.OrganizationName</span>
                                    <div class="star__container">
                                        <img src="~/images/selected-star.png">
                                        <img src="~/images/selected-star.png">
                                        <img src="~/images/selected-star.png">
                                        <img src="~/images/selected-star.png">
                                        <img src="~/images/star.png">
                                    </div>
                                </div>
                                <br />
                                <hr>
                                <div class="time__text border rounded-pill w-75 mx-auto ">
                                    <span>From @item.StartDate.Value.ToShortDateString() until
                                        @item.EndDate.Value.ToShortDateString()</span>
                                </div>


                                <div class="row mt-3 ms-2 mb-3">
                                    <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                        <img src="~/images/Seats-left.png" class="" width="30px" height="30px">
                                        <div class="d-flex flex-column ">
                                            <h5 class="mb-0">10</h5>
                                            <span>Seats left</span>
                                        </div>
                                    </div>

                                        @if (@item.MissionType == "TIME")
                                        {
                                            <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                                <img src="~/images/deadline.png" width="40px" height="40px">
                                                <div class="d-flex flex-column">
                                                    <h5 class="mb-0">@item.EndDate.Value.ToShortDateString()</h5>
                                                    <span>Deadline</span>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                             <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                                    <img src="~/images/mission.png" width="30px" height="30px">
                                                     <div class="d-flex flex-column">
                                                         <div class="Progress__bar"><progress max="10000" value="8000"></progress></div>
                                                         <span>8000 Achived</span>
                                                    </div>
                                            </div>
                                        }

                                </div>
                                <hr>
                                <div class="mt-2 apply__button    text-center apply__button  ">
                                    <a class="btn rounded-pill   text-center apply__text " asp-controller="Mission" asp-action="VolunteeringPage" asp-route-id="@item.MissionId" >Apply <img
                                            src="~/images/right-arrow.png" class="ms-2"></a>

                                </div>
                            </div>

                        </div>
                    </div>


                    }
                </div>

        
                <div class="col  mb-3">
                    <div class="card" style="max-width: 26rem;">
                        <div style="position: relative;">
                            <img class="card-img-top" src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                                alt="Card image cap">
                            <div style="position: absolute;bottom: 0;width: 100%;">
                                <p class="m-0 bg-white border rounded-pill text-center w-50"
                                    style="transform: translate(50%, 50%) ;">Children</p>
                            </div>
                            <div class="heart_image_container rounded-circle ">
                                <img src="~/images/heart.png" class=" heart__image">
                            </div>
                            <div class="rounded-circle add__person__image__container">
                                <img src="~/images/user.png" class="add__person__image">
                            </div>
                            <div class="city__container rounded-pill">
                                <img src="~/images/pin.png" class="locatin__image">
                                <span class="text-white">Melbourne</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-start mt-2">Education Supplies for Every Pair of Shoes Sold
                            </h3>
                            <p class="card-text text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod
                                tempor incididunt ut labore...</p>
                            <div class="d-flex justify-content-between mb-1 ">
                                <span>Australian Paradise</span>
                                <div class="star__container">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/star.png">
                                </div>
                            </div>
                            <br />

                            <hr>
                            <div class="time__text border rounded-pill w mx-auto ">
                                <span>From 10/01/2019 until 25/02/2019</span>
                            </div>


                            <div class="row mt-3 ms-2 mb-3">
                                <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                    <img src="~/images/Seats-left.png" width="30px" height="30px">
                                    <div class="d-flex flex-column ">
                                        <h5 class="mb-0">250</h5>
                                        <span class="ms-0">Already Volunteer</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                    <img src="~/images/deadline.png" width="40px" height="40px">
                                    <div class="d-flex flex-column">
                                        <h5 class="mb-0">09/01/2019</h5>
                                        <span>Deadline</span>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="mt-2 apply__button    text-center apply__button">
                                <a href="#" class="btn rounded-pill   text-center apply__text">Apply <img
                                        src="~/images/right-arrow.png" class="ms-2"></a>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col  mb-3">
                    <div class="card" style="max-width: 26rem;">
                        <div style="position: relative;">
                            <img class="card-img-top" src="~/images/Nourish-the-Children-in--African-country-1.png"
                                alt="Card image cap">
                            <div style="position: absolute;bottom: 0;width: 100%;">
                                <p class="m-0 bg-white border rounded-pill text-center w-50"
                                    style="transform: translate(50%, 50%) ;">Nutrition</p>
                            </div>
                            <div class="heart_image_container rounded-circle ">
                                <img src="~/images/heart.png" class=" heart__image">
                            </div>
                            <div class="rounded-circle add__person__image__container">
                                <img src="~/images/user.png" class="add__person__image">
                            </div>
                            <div class="city__container rounded-pill">
                                <img src="~/images/pin.png" class="locatin__image">
                                <span class="text-white">Barcelona</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-start mt-2">Nourish the Children in African country
                            </h3>
                            <p class="card-text text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod
                                tempor incididunt ut labore...</p>
                            <div class="d-flex justify-content-between mb-1 ">
                                <span>The Hunger</span>
                                <div class="star__container">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/star.png">
                                </div>
                            </div>
                            <br />
                            <hr>
                            <div class="time__text border rounded-pill w-75 mx-auto ">
                                <span>Ongoing Opportunity </span>
                            </div>


                            <div class="row mt-3 ms-2 mb-3">
                                <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                    <img src="~/images/Seats-left.png" width="30px" height="30px">
                                    <div class="d-flex flex-column ">
                                        <h5 class="mb-0">10</h5>
                                        <span>Seats left</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                    <img src="~/images/deadline.png" width="40px" height="40px">
                                    <div class="d-flex flex-column">
                                        <h5 class="mb-0">09/01/2019</h5>
                                        <span>Deadline</span>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="mt-2 apply__button    text-center apply__button">
                                <a href="#" class="btn rounded-pill   text-center apply__text">Apply <img
                                        src="~/images/right-arrow.png" class="ms-2"></a>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col  mb-3">
                    <div class="card" style="max-width: 26rem;">
                        <div style="position: relative;">
                            <img class="card-img-top" src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                                alt="Card image cap">
                            <div style="position: absolute;bottom: 0;width: 100%;">
                                <p class="m-0 bg-white border rounded-pill text-center w-50"
                                    style="transform: translate(50%, 50%) ;">Nutrition</p>
                            </div>
                            <div class="heart_image_container rounded-circle ">
                                <img src="~/images/heart.png" class=" heart__image">
                            </div>
                            <div class="rounded-circle add__person__image__container">
                                <img src="~/images/user.png" class="add__person__image">
                            </div>
                            <div class="city__container rounded-pill">
                                <img src="~/images/pin.png" class="locatin__image">
                                <span class="text-white">Barcelona</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-start mt-2">CSR initiative stands for Coffee and Farmer Equity
                            </h3>
                            <p class="card-text text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod
                                tempor incididunt ut labore...</p>
                            <div class="d-flex justify-content-between mb-1 ">
                                <span>CSE Network</span>
                                <div class="star__container">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/star.png">
                                </div>
                            </div>
                            <br />
                            <hr>
                            <div class="time__text border rounded-pill w-75 mx-auto ">
                                <span>Ongoing Opportunity </span>
                            </div>


                            <div class="row mt-3 ms-2 mb-3">
                                <div class="d-flex flex-row gap-1 align-items-center justify-content-center col-auto">
                                    <img src="~/images/Seats-left.png" width="30px" height="30px">
                                    <div class="d-flex flex-column ">
                                        <h5 class="mb-0">250</h5>
                                        <span> Already volunteered</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-row gap-1 align-items-center justify-content-center col-auto">
                                    <img src="~/images/deadline.png" width="40px" height="40px">
                                    <div class="d-flex flex-column">
                                        <h5 class="mb-0">09/01/2019</h5>
                                        <span>Deadline</span>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="mt-2 apply__button    text-center apply__button">
                                <a href="#" class="btn rounded-pill   text-center apply__text">Apply <img
                                        src="~/images/right-arrow.png" class="ms-2"></a>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col  mb-3">
                    <div class="card" style="max-width: 26rem;">
                        <div style="position: relative;">
                            <img class="card-img-top" src="~/images/Animal-welfare-&-save-birds-campaign-1.png"
                                alt="Card image cap">
                            <div style="position: absolute;bottom: 0;width: 100%;">
                                <p class="m-0 bg-white border rounded-pill text-center w-50"
                                    style="transform: translate(50%, 50%) ;">Animals</p>
                            </div>
                            <div class="heart_image_container rounded-circle ">
                                <img src="~/images/heart.png" class=" heart__image">
                            </div>
                            <div class="rounded-circle add__person__image__container">
                                <img src="~/images/user.png" class="add__person__image">
                            </div>
                            <div class="city__container rounded-pill">
                                <img src="~/images/pin.png" class="locatin__image">
                                <span class="text-white">Cape Town</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-start mt-2">Animal welfare & save birds campaign
                            </h3>
                            <p class="card-text text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod
                                tempor incididunt ut labore...</p>
                            <div class="d-flex justify-content-between mb-1 ">
                                <span>JR Foundation</span>
                                <div class="star__container">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/selected-star.png">
                                    <img src="~/images/star.png">
                                </div>
                            </div>
                            <br />
                            <hr>
                            <div class="time__text border rounded-pill w-75 mx-auto ">
                                <span>Plant 10,000 Trees </span>
                            </div>


                            <div class="row mt-3 ms-2 mb-3">
                                <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                    <img src="~/images/Seats-left.png" width="30px" height="30px">
                                    <div class="d-flex flex-column ">
                                        <h5 class="mb-0">10</h5>
                                        <span>Seats left</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                    <img src="~/images/mission.png" width="30px" height="30px">
                                    <div class="d-flex flex-column">
                                        <div class="Progress__bar"><progress max="10000" value="8000"></progress></div>
                                        <span>8000 Achived</span>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="mt-2 apply__button    text-center apply__button">
                                <a href="#" class="btn rounded-pill   text-center apply__text">Apply <img
                                        src="~/images/right-arrow.png" class="ms-2"></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            *@





        <!--  List Cards -->

        <!-- list view -->



         @* 
            <div id="list__view__container" class="hide">

                 @foreach (var item in Model.Mission)
                        {
                             <div class="card mb-3 mt-3 total__mission" style="max-width: 100%;">
                                   <div class="row no-gutters">
               
                    
                
                                        <div class="col-md-4 ">
                                            <div style="position: relative;height: 100%;">
                                                @{
                                                 if(item.MissionMedia.Count > 0)
                                        {
                                            <img class="card-img-top"
                                             src="@item.MissionMedia.FirstOrDefault(m => m.DefaultMissionMedia == 1).MediaPath"
                                             alt="Card image cap">
                                        }
                                        else
                                        {
                                            <img class="card-img-top"
                                             src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                                             alt="Card image cap">                                    
                                        }
                                        }
                                                <div style="position: absolute;bottom: 0;width: 100%;">
                                                    <p class="m-0 bg-white border rounded-pill text-center w-50"
                                                        style="transform: translate(50%, 50%) ;">@item.Theme.Title</p>
                                                </div>
                                                <div class="heart__image__container__listView rounded-circle ">

                                        
                                          
                                      @{
                                                 var favCount = item.FavoriteMissions.Where(m => m.UserId == Model.user.UserId).Count();
                                                if (favCount > 0)
                                                  {
                                                   <button class="heart__image addToFavdiv rounded-circle bg-transparent border-0" value="@item.MissionId @Model.user.UserId"   >
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill fill-red  " style="color:red;pointer-events:none" viewBox="0 0 16 16">
                                                          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>

                                      
                                                        </svg>
 
                            
                                                     </button>
                                                }
                                                else
                                                {
                                                    <button  class=" heart__image addToFavdiv rounded-circle bg-transparent border-0"    value="@item.MissionId @Model.user.UserId">
                                                        <img src="~/images/heart.png" alt="" class="" style="pointer-events:none" width="22px" height="22px" />
                            
                                                     </button>
                                                }
                                      }

                                                </div>
                                                <div class="rounded-circle add__person__image__container__listView">
                                                    <img src="~/images/user.png" class="add__person__image">
                                                </div>
                                                <div class="city__container__list rounded-pill">
                                                    <img src="~/images/pin.png" class="locatin__image">
                                                    <span class="text-white">@item.City.Name</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8  ">
                                            <div class="card-body">
                                                <h3 class="card-title mt-2">@item.Title</h3>
                                                <p class="card-text">@item.ShortDescription</p>
                                                <div class="row  justify-content-between ">


                                                    <div class="col d-flex flex-row align-items-center justify-content-start">
                                                        <span class="">@item.OrganizationName</span>
                                                        <div class="star__container ms-3 ">
                                                            <img src="~/images/selected-star.png">
                                                            <img src="~/images/selected-star.png">
                                                            <img src="~/images/selected-star.png">
                                                            <img src="~/images/selected-star.png">
                                                            <img src="~/images/star.png">
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <hr class="">
                                                        <div class="time__text__list w-75 ms-5 text-center border rounded-pill ">
                                                            <span>From @item.StartDate.Value.ToShortDateString() until @item.EndDate.Value.ToShortDateString()</span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row justify-content-between  mt-3">
                                                    <div class="col mt-2 ml-0 apply__button__list     ">

                                                        <a asp-controller="Mission" asp-action="VolunteeringPage" asp-route-id="@item.MissionId" class="btn rounded-pill   text-center apply__text__list">Apply <img
                                                                src="~/images/right-arrow.png" class="ms-2"></a>


                                                    </div>
                                                    <div class="col">


                              
                                                        <div class="row  mb-3">


                                                          <div class="d-flex flex-row gap-1 align-items-center justify-content-center col">
                                                                <img src="~/images/Seats-left.png" class="" width="30px" height="30px">
                                                                <div class="d-flex flex-column ">
                                                                    <h5 class="mb-0">10</h5>
                                                                    <span>Seats left</span>
                                                                </div>
                                                           </div>

                                    
                                                          @if (@item.MissionType == "TIME")
                                                           {
                                                            <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                                                   <img src="~/images/deadline.png" width="40px" height="40px">
                                                                   <div class="d-flex flex-column">
                                                                         <h5 class="mb-0">@item.EndDate.Value.ToShortDateString()</h5>
                                                                         <span>Deadline</span>
                                                                   </div>
                                                            </div>
                                                            }
                                                            else
                                                            {
                                                               <div class="d-flex flex-row gap-1 align-items-center justify-content-center col">
                                                                      <img src="~/images/mission.png" width="30px" height="30px">
                                                                      <div class="d-flex flex-column">
                                                                          <div class="Progress__bar"><progress max="10000" value="8000"></progress></div>
                                                                          <span>8000 Achived</span>
                                                                      </div>
                                                               </div>
                                                            }

                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                              </div>

                        }

             </div>
                <div class="card mb-3 mt-4" style="max-width: 100%;">
                    <div class="row no-gutters ">
                        <div class="col-md-4 ">
                            <div style="position: relative;height: 100%;">
                                <img class="card-img-top h-100"
                                    src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" alt="Card image cap">
                                <div style="position: absolute;bottom: 0;width: 100%;">
                                    <p class="m-0 bg-white border rounded-pill text-center w-50"
                                        style="transform: translate(50%, 50%) ;">Children</p>
                                </div>
                                <div class="heart__image__container__listView rounded-circle ">
                                    <img src="~/images/heart.png" class=" heart__image">
                                </div>
                                <div class="rounded-circle add__person__image__container__listView">
                                    <img src="~/images/user.png" class="add__person__image">
                                </div>
                                <div class="city__container__list rounded-pill">
                                    <img src="~/images/pin.png" class="locatin__image">
                                    <span class="text-white">Melbourne</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8  ">
                            <div class="card-body">
                                <h3 class="card-title mt-2">Education Supplies for Every Pair of Shoes Sold</h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional
                                    content. This content is a little bit longer.</p>
                                <div class="row  justify-content-between ">


                                    <div class="col d-flex flex-row align-items-center justify-content-start">
                                        <span class="">Australian Paradise</span>
                                        <div class="star__container ms-3 ">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/star.png">
                                        </div>
                                    </div>

                                    <div class="col">
                                        <hr class="">
                                        <div class="time__text__list w-75 ms-5 text-center border rounded-pill ">
                                            <span>From 10/01/2019 until 25/02/2019</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row justify-content-between  mt-3">
                                    <div class="col mt-2 ml-0 apply__button__list     ">

                                        <a href="#" class="btn rounded-pill   text-center apply__text__list">Apply <img
                                                src="~/images/right-arrow.png" class="ms-2"></a>


                                    </div>
                                    <div class="col">
                                        <div class="row  mb-3">
                                            <div class="d-flex flex-row gap-1 align-items-center justify-content-center col">
                                                <img src="~/images/Seats-left.png" class="" width="30px" height="30px">
                                                <div class="d-flex flex-column ">
                                                    <h5 class="mb-0">10</h5>
                                                    <span>Seats left</span>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row gap-1 align-items-center justify-content-center col">
                                                <img src="~/images/deadline.png" width="40px" height="40px">
                                                <div class="d-flex flex-column">
                                                    <h5 class="mb-0">09/01/2019</h5>
                                                    <span>Deadline</span>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3 mt-4" style="max-width: 100%;">
                    <div class="row no-gutters">
                        <div class="col-md-4 ">
                            <div style="position: relative;height: 100%;">
                                <img class="card-img-top h-100" src="~/images/Nourish-the-Children-in--African-country-1.png"
                                    alt="Card image cap">
                                <div style="position: absolute;bottom: 0;width: 100%;">
                                    <p class="m-0 bg-white border rounded-pill text-center w-50"
                                        style="transform: translate(50%, 50%) ;">Nutrition</p>
                                </div>
                                <div class="heart__image__container__listView rounded-circle ">
                                    <img src="~/images/heart.png" class=" heart__image">
                                </div>
                                <div class="rounded-circle add__person__image__container__listView">
                                    <img src="~/images/user.png" class="add__person__image">
                                </div>
                                <div class="city__container__list rounded-pill">
                                    <img src="~/images/pin.png" class="locatin__image">
                                    <span class="text-white">Barcelona</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8  ">
                            <div class="card-body">
                                <h3 class="card-title mt-2">Nourish the Children in African country</h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional
                                    content. This content is a little bit longer.</p>
                                <div class="row  justify-content-between ">


                                    <div class="col d-flex flex-row align-items-center justify-content-start">
                                        <span class="">The Hunger</span>
                                        <div class="star__container ms-3 ">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/star.png">
                                        </div>
                                    </div>

                                    <div class="col">
                                        <hr class="">
                                        <div class="time__text__list w-75 ms-5 text-center border rounded-pill ">
                                            <span>Ongoing Opportunity</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row justify-content-between  mt-3">
                                    <div class="col mt-2 ml-0 apply__button__list    ">

                                        <a href="#" class="btn rounded-pill   text-center apply__text__list">Apply <img
                                                src="~/images/right-arrow.png" class="ms-2"></a>


                                    </div>
                                    <div class="col">
                                        <div class="row  mb-3">
                                            <div class="d-flex flex-row gap-1 align-items-center justify-content-center col">
                                                <img src="~/images/Seats-left.png" class="" width="30px" height="30px">
                                                <div class="d-flex flex-column ">
                                                    <h5 class="mb-0">10</h5>
                                                    <span>Seats left</span>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row gap-1 align-items-center justify-content-center col">
                                                <img src="~/images/deadline.png" width="40px" height="40px">
                                                <div class="d-flex flex-column">
                                                    <h5 class="mb-0">09/01/2019</h5>
                                                    <span>Deadline</span>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card mb-3 mt-4" style="max-width: 100%;">
                    <div class="row no-gutters">
                        <div class="col-md-4 ">
                            <div style="position: relative;height: 100%;">
                                <img class="card-img-top h-100"
                                    src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png" alt="Card image cap">
                                <div style="position: absolute;bottom: 0;width: 100%;">
                                    <p class="m-0 bg-white border rounded-pill text-center w-50"
                                        style="transform: translate(50%, 50%) ;">Nutrition</p>
                                </div>
                                <div class="heart__image__container__listView rounded-circle ">
                                    <img src="~/images/heart.png" class=" heart__image">
                                </div>
                                <div class="rounded-circle add__person__image__container__listView">
                                    <img src="~/images/user.png" class="add__person__image">
                                </div>
                                <div class="city__container__list rounded-pill">
                                    <img src="~/images/pin.png" class="locatin__image">
                                    <span class="text-white">Barcelona</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8  ">
                            <div class="card-body">
                                <h3 class="card-title mt-2">CSR initiative stands for Coffee and Farmer Equity</h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional
                                    content. This content is a little bit longer.</p>
                                <div class="row  justify-content-between ">


                                    <div class="col d-flex flex-row align-items-center justify-content-start">
                                        <span class="">CSE Network</span>
                                        <div class="star__container ms-3 ">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/star.png">
                                        </div>
                                    </div>

                                    <div class="col">
                                        <hr class="">
                                        <div class="time__text__list w-75 ms-5 text-center border rounded-pill ">
                                            <span>Ongoing Opportunity</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row justify-content-between  mt-3">
                                    <div class="col mt-2 ml-0 apply__button__list    ">

                                        <a href="#" class="btn rounded-pill   text-center apply__text__list">Apply <img
                                                src="~/images/right-arrow.png" class="ms-2"></a>


                                    </div>
                                    <div class="col">
                                        <div class="row  mb-3">
                                            <div class="d-flex flex-row gap-1 align-items-center justify-content-center col">
                                                <img src="~/images/Seats-left.png" class="" width="30px" height="30px">
                                                <div class="d-flex flex-column ">
                                                    <h5 class="mb-0">10</h5>
                                                    <span>Seats left</span>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row gap-1 align-items-center justify-content-center col">
                                                <img src="~/images/deadline.png" width="40px" height="40px">
                                                <div class="d-flex flex-column">
                                                    <h5 class="mb-0">09/01/2019</h5>
                                                    <span>Deadline</span>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3 mt-4" style="max-width: 100%;">
                    <div class="row no-gutters">
                        <div class="col-md-4 ">
                            <div style="position: relative;height: 100%;">
                                <img class="card-img-top h-100"
                                    src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png" alt="Card image cap">
                                <div style="position: absolute;bottom: 0;width: 100%;">
                                    <p class="m-0 bg-white border rounded-pill text-center w-50"
                                        style="transform: translate(50%, 50%) ;">Nutrition</p>
                                </div>
                                <div class="heart__image__container__listView rounded-circle ">
                                    <img src="~/images/heart.png" class=" heart__image">
                                </div>
                                <div class="rounded-circle add__person__image__container__listView">
                                    <img src="~/images/user.png" class="add__person__image">
                                </div>
                                <div class="city__container__list rounded-pill">
                                    <img src="~/images/pin.png" class="locatin__image">
                                    <span class="text-white">Barcelona</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8  ">
                            <div class="card-body">
                                <h3 class="card-title mt-2">CSR initiative stands for Coffee and Farmer Equity</h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional
                                    content. This content is a little bit longer.</p>


                                <div class="row  justify-content-between ">


                                    <div class="col d-flex flex-row align-items-center justify-content-start">
                                        <span class="">CSE Network</span>
                                        <div class="star__container ms-3 ">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/selected-star.png">
                                            <img src="~/images/star.png">
                                        </div>
                                    </div>

                                    <div class="col">
                                        <hr class="">
                                        <div class="time__text__list w-75 ms-5 text-center border rounded-pill ">
                                            <span>Ongoing Opportunity</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row justify-content-between  mt-3">
                                    <div class="col mt-2 ml-0 apply__button__list     ">

                                        <a href="#" class="btn rounded-pill   text-center apply__text__list">Apply <img
                                                src="~/images/right-arrow.png" class="ms-2"></a>


                                    </div>
                                    <div class="col">
                                        <div class="row  mb-3">
                                            <div class="d-flex flex-row gap-1 align-items-center justify-content-center col">
                                                <img src="~/images/Seats-left.png" class="" width="30px" height="30px">
                                                <div class="d-flex flex-column ">
                                                    <h5 class="mb-0">10</h5>
                                                    <span>Seats left</span>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row gap-1 align-items-center justify-content-center col">
                                                <img src="~/images/deadline.png" width="40px" height="40px">
                                                <div class="d-flex flex-column">
                                                    <h5 class="mb-0">09/01/2019</h5>
                                                    <span>Deadline</span>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                *@

                <partial name="_ListCards"  model=@Model/>
   



      <!-- Recommendation Modal -->
            <div class="modal fade " id="RecomendModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Recommendation to co-worker</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                                @foreach( var item in Model.User)
                                {
                                   @* var mission = @Model.Mission.Where( e=> e.MissionId ==  )*@
                                    <div class="d-flex flex-row justify-content-between mt-1">
                                        <div class="d-flex flex-row gap-2">
                                            <img src="~/images/volunteer1.png" class="rounded-circle" width="30px" height="30px" />
                                            <span>@item.FirstName  @item.LastName</span>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-primary RecommendationButton">Recommend </button>
                                        </div>
                                    </div>
                       
                                }
                            </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>









              
   </div>


   <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.getElementById("openbtn").style.display = "none";

        }

        function gridView() {
               document.getElementById("grid__view__container").classList.remove("hide");
            document.getElementById("list__view__container").classList.add("hide");
          

        }
        
     

        function listView() {
          
            document.getElementById("list__view__container").classList.remove("hide");
           
             document.getElementById("grid__view__container").classList.add("hide");

        }

     

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("openbtn").style.display = "block";
        }

      
         

    </script>
     <script src="~/js/VolunteeringPage.js" asp-append-version="true"></script>
