@using CI_Platfrom.Entities.Models.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = null;
}
<style>
    .MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
}

.btn-custom {
    height: 80%;
    background-color: #000000 !important;
    opacity: 50%;
    color: #FFFFFF !important;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position: absolute;
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}
</style>
@model MissionVM

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Mission Page</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/landingpage.css">
     <link rel="stylesheet" href="~/css/volunteeringMissionPage.css">
   
   @* 
    <script>
        window.onload = function () {
            document.getElementById('default_img').click();
        }
    </script>*@
</head>

<body>

    <!-- Side bar for small screen -->


    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>


        <a href="#">
            <a class="nav-link" href="#" role="button" aria-expanded="false">
                Stories
            </a>
        </a>

        <div >
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Policies
            </a>
            <ul class="dropdown-menu ms-5 ps-5 border-0" aria-labelledby="navbarDropdownMenuLink">
               @{
                   var cmsdata = @Model.CmsPages.ToList();
                   if(cmsdata != null)
                   {   @foreach (var item in cmsdata)
                       {
                           <li><a class="dropdown-item" asp-controller="PrivacyPolicy" asp-action="PrivacyPolicy">@item.Title</a></li>
                       }
                   }                                   
                }
            </ul>
        </div>

    </div>

    <!-- toggle button and human profile for small screen  -->

    <div class="main">
        <div class="d-flex justify-content-between border-bottom d-sm-none" id="menubr">
            <button class="openbtn " id="openbtn" onclick="openNav()">
                <img src="~/images/list.png" class="list__nav" alt="">
            </button>
            <p>&nbsp</p>
            <div class="dropdown text-end start-0 d-sm-none " id="img_user">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="@Model.user.Avatar" alt="user image" width="40" height="40" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small mt-3" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" asp-action="VolunteeringTimesheet" asp-controller="VolunteeringTimeSheet">TimeSheet</a></li>
                    <li><a class="dropdown-item" asp-action="UserProfile" asp-controller="Registration">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" asp-action="logout" asp-controller="Authentication" >Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- top header for large screens  -->

    <div class="container-fluid">
        <header class="p-3 mb-3 border-bottom  d-none d-sm-block">
            <div class="container d-none d-sm-block">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">

                    <ul class="nav col-auto col-lg-auto me-auto mb-2 justify-content-center mb-md-0 gap-3 ms-5">
                        <li><a href="/Story/StoryListingPage" class="nav-link px-2 link-dark">Stories</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Policies
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                 @{
                                       var cmsdatabg = @Model.CmsPages.ToList();
                                       if(cmsdata != null)
                                       {   @foreach (var item in cmsdatabg)
                                           {
                                               <li><a class="dropdown-item" asp-controller="PrivacyPolicy" asp-action="PrivacyPolicy">@item.Title</a></li>
                                           }
                                       }                                   
                                    }
                            </ul>
                        </li>
                    </ul>

                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle me-lg-5"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="@Model.user.Avatar" alt="user image" width="40" height="40"
                                class="rounded-circle">
                            <span class="">@Model.user.FirstName @Model.user.LastName</span>
                        </a>
                        <ul class="dropdown-menu text-small mt-3" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" asp-action="VolunteeringTimesheet" asp-controller="VolunteeringTimeSheet">TimeSheet</a></li>
                            <li><a class="dropdown-item" asp-action="UserProfile" asp-controller="Registration">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" asp-action="logout" asp-controller="Authentication" >Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>



    </div>


    <!-- photoes pages  -->

    <div class="container">

        <!-- photo container and detais of the mission -->
        <div class="row">
            <div class="col-12 col-md-6">
               
                    @if (Model.particularMission.MissionMedia.Count() > 0)
                    {
                        if(Model.particularMission.MissionMedia.Any(img => img.MediaType != "URL"))
                        {
                            <img src="@Model.particularMission.MissionMedia.First(img => img.MediaType != "URL").MediaPath" class="w-100"
                            id="main-img" />
                        }



                        if (Model.particularMission.MissionMedia.Any(s => s.MediaType == "URL"))
                        {
                            if (Model.particularMission.MissionMedia.Count() == 1)
                            {
                                var path = Model.particularMission.MissionMedia.First().MediaPath;
                                var videoUrl = path!=null?path.Replace("watch?v=", "embed/"):"https://www.youtube.com/embed/tgbNymZ7vqY";
                                <iframe width="640" height="500" id="videoPlayer"
                                src="@videoUrl">
                                </iframe>                                
                            }
                            else
                            {
                                <iframe width="640" height="500" class="d-none" id="videoPlayer"
                                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                </iframe>
                            }

                        }
                        

                    }
                    else
                    {
                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-3.png" class="w-100"
                        id="main-img" />

                    }
               
                @if (Model.particularMission.MissionMedia.Count() > 1)
                {

                    <div class="container">
                        <div class="row">
                            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"
                        data-interval="1000">
                                <div class="MultiCarousel-inner">
                                    @foreach (var item in Model.particularMission.MissionMedia)
                                    {
                                        if (item.MediaType != "URL")
                                        {
                                            <div class="item ps-1 pe-1">

                                                <img src="@item.MediaPath"
                                        class="w-100 infovol-img image" style="height : 118px;"/>
                                            </div>
                                        }

                                        else
                                        {
                                            var path = item.MediaPath;
                                            if(path != null)
                                            {
                                                var videoUrl = path.Replace("watch?v=", "embed/");
                                                var temp = path.Replace("www", "img").Replace("watch?v=", "vi/");
                                                var thumbnailPath = String.Concat(temp, "/default.jpg");


                                                <div class="item ps-1 pe-1">
                                                    <img src="@thumbnailPath" class="w-100 infovol-img video" value="@(videoUrl+"?autoplay=1&mute=1")" style="height : 118px;"/>
                                                </div>
                                            }
                                            
                                        }

                                    } 
                                        
                                </div>
                                <button class="btn btn-custom leftLst">
                                    &lt; </button>
                                <button class="btn btn-custom rightLst">></button>
                            </div>
                        </div>
                    </div>
                }
        
       
     </div>

            <!-- CSR initiative section -->

            <div class="col-sm-12 col-md-6 mb-2">
                <div class="">
                    <h4 class="mt-3">@Model.particularMission.Title</h4>
                    <p class="mb-4">@Model.particularMission.ShortDescription</p>
                    <hr class="mt-3 ">
                    <span
                        class="border rounded-pill d-flex  align-items-center justify-content-center  text-center w-50 tree__text mx-auto  flex-row  mb-3">@*@Model.particularMission.GoalMissions.FirstOrDefault().GoalObjectiveText*@
                        
                             @{
                                if(@Model.particularMission.MissionType == "TIME") {

                                    if(@Model.particularMission.EndDate > DateTime.Now)
                                    {
                                        <span>Ongoing Opportunity</span>

                                    }
                                    else
                                    {
                                       <span>From @Model.particularMission.EndDate.Value.ToShortDateString() until @Model.particularMission.EndDate.Value.ToShortDateString()</span>
                                    }
                                }

                                else
                                {
                                    var goalText = @Model.particularMission.GoalMissions.FirstOrDefault();
                                    if(goalText == null )
                                    {
                                        <span>Goal is not defined</span>
                                    }
                                    else
                                    {
                                      <span>@goalText.GoalObjectiveText</span>  
                                    }
                                    
                                }

                         }
                    
                    
                    </span>
                    <div class="row justify-content-md-evenly justify-content-sm-center align-items-center  ms-2 mb-3">
                        <div class="d-flex flex-row gap-1 gap-sm-3 align-items-center justify-content-center col-auto">
                            <img src="~/images/Seats-left.png" width="30px" height="30px">
                            <div class="d-flex flex-column ">
                                <h5 class="mb-0">
                                    @{
                                        var totalseats = @Model.particularMission.TotalSeats;
                                        var enrolledseats = @Model.particularMission.MissionApplications.Count(e => e.MissionId == @Model.particularMission.MissionId);
                                        var seatsLeft = totalseats - enrolledseats;    
                                    }
                                    @seatsLeft
                                </h5>
                                <span>Seats left</span>
                            </div>
                        </div>
                        @{
                            if(@Model.particularMission.MissionType == "TIME")
                            {
                                 <div class="d-flex flex-row gap-1 gap-sm-3 align-items-center justify-content-center col-auto">
                                        <img src="~/images/deadline.png" width="40px" height="40px">
                                        <div class="d-flex flex-column">
                                           <h5 class="mb-0">@Model.particularMission.EndDate.Value.ToShortDateString()</h5>
                                             <span>Deadline</span>

                                       
                                        </div>
                                 </div>
                            }
                            else{
                                <div class="d-flex flex-row gap-1 gap-sm-3 align-items-center justify-content-center col-auto">
                                        <img src="~/images/mission.png" width="30px" height="30px">
                                        <div class="d-flex flex-column">

                                        @{
                                             var targetValue = @Model.particularMission.GoalMissions.FirstOrDefault().GoalValue;
                                             var totalTimesheet = @Model.particularMission.Timesheets.Where(timesheet => timesheet.Status == "APPROVED");
                                             int? achievedValue = 0;
                                             
                                              foreach (var action in totalTimesheet)
                                               {
                                                   achievedValue +=  @action.Action ;
                                               }
                                            <div class="Progress__bar"><progress max="@targetValue" value="@achievedValue"></progress></div>
                                            <span>@achievedValue Achived</span>

                                            }
                                        </div>
                                 </div>
                            }
                        }

                    </div>
                    <hr>
                    <div class="row align-items-center justify-content-center gap-3 mt-4 ">

                        @{
                            //var favCount = Model.particularMission.FavoriteMissions.Where(m => m.UserId == Model.user.UserId).Count();
                            var favCount = Model.particularMission.FavoriteMissions.Where(m => m.UserId == Model.user.UserId).Count();
                            if (favCount > 0)
                        {
                            <button
                            class="col-5 d-flex flex-row align-items-center justify-content-center border border-secondary rounded-pill p-2 addToFavdiv "   value="@Model.particularMission.MissionId @Model.user.UserId">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill fill-red  " style="color:red;pointer-events:none" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>
 
                            <span class="ms-2 text-danger" style="pointer-events:none">Add to Favourite</span>
                                </button>
                            }
                            else
                            {
                                <button
                            class="col-5 d-flex flex-row align-items-center justify-content-center border border-secondary rounded-pill p-2 addToFavdiv"   value="@Model.particularMission.MissionId @Model.user.UserId">
                            <img src="~/images/heart1.png" alt="" class="" style="pointer-events:none" width="22px" height="22px" />
                            <span class="ms-2 " style="pointer-events:none">Add to Favourite</span>
                        </button>
                            }
                        }
                        <div
                            class="col-6 d-flex flex-row align-items-center justify-content-center border border-secondary rounded-pill p-2 btn " data-bs-toggle="modal" data-bs-target="#RecomendModal">
                            <img src="~/images/add1.png" alt="" width="22px" height="22px" />
                            <span class="ms-2">Recommend to a Co-Worker</span>
                        </div>
                    </div>
                    <br>
                    <hr class="">
                    <!-- <div class="text-center"> -->
                    <div
                        class="d-flex  align-items-center justify-content-center  text-center w-25 mx-auto  flex-row star__images" data-bs-toggle="modal" data-bs-target="#RatingModal" >
                        @{
                            var Rating = Model.particularMission.MissionRatings.FirstOrDefault(m => m.UserId == Model.user.UserId);
                            if (Rating != null)
                            {
                                var rating = Rating.Rating;
                                for (var i = 0; i < rating; i++)
                                {
                                    <img src="~/images/selected-star.png" width="26px" height="26px" alt="" />
                                }
                                for (var i = rating; i < 5; i++)
                                {
                                    <img src="/images/star-empty.png"    alt="" />
                                }
                            }
                            else
                            {
                                for (var i = 0; i < 5; i++)
                                {
                                    <img src="/images/star-empty.png"    alt="" />
                                }
                            }
                        }

                    </div>
                    <!-- </div> -->
                    <div class="row align-items-center justify-content-center gap-2 mt-4 ">
                        <div class="col d-flex flex-column align-items-start border justify-content-start p-2">
                            <img src="~/images/pin1.png" class="mb-4 align-left" alt="">
                            <span>City </span>
                            <span>@Model.particularMission.City.Name</span>

                        </div>
                        <div class="col d-flex flex-column align-items-start border justify-content-start p-2">
                            <img src="~/images/web.png" class="mb-4" alt="">
                            <span>Theme</span>
                            <span>@Model.particularMission.Theme.Title</span>

                        </div>
                        <div class="col d-flex flex-column align-items-start border justify-content-start p-2">
                            <img src="~/images/calender.png" class="mb-2 mb-xl-4" alt="">
                            <span>Date </span>
                            <span> @Model.particularMission.EndDate.Value.ToShortDateString() </span>

                        </div>
                        <div class="col d-flex flex-column align-items-start border justify-content-start p-2">
                            <img src="~/images/organization.png" class="mb-4" alt="">
                            <span>Organization </span>
                            <span>@Model.particularMission.OrganizationName</span>

                        </div>

                    </div>

                    <div class="d-flex align-items-center justify-content-center mt-2">
                         <div class="mt-2   text-center  " id="applyToMissionText">
               

                     @{
                                        var appliedusercount = @Model.missionApplications.FirstOrDefault(e => e.UserId == @Model.user.UserId && e.MissionId == Model.particularMission.MissionId  && e.ApprovalStatus != "DECLINE");
                                        if(appliedusercount != null)
                                        {
                                            if(appliedusercount.ApprovalStatus == "PENDING")
                                            {
                                               <a  class="btn rounded-pill text-center border-1 border-info text-info btn_no py-3 px-5   apply__text__list">Pending
                                                                 </a>
                                            }
                                            else{
                                                <a class="btn rounded-pill text-center border-1 border-success text-success btn_no py-3 px-5   apply__text__list" asp-controller="Mission" asp-action="VolunteeringPage" >Already Applied </a>
                                            }
                                            
                                        }
                                        else
                                        {
                                             <a href="#" class="btn rounded-pill text-center btn_no py-3 px-5 apply__text__list" id="ApplyTomission" value="@Model.particularMission.MissionId @Model.user.UserId">ApplyNow<img src="~/images/right-arrow.png" class="ms-4" style="pointer-events:none"></a>
                                        }
                                    }
                     </div> 
                    </div>

                </div>


            </div>
        </div>
     



        <!-- tabs and information and already volunteer  -->

        <div class="row mt-lg-3">
            <div class="col-md-6  col-sm-12  me-lg-3">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-mission-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-mission" type="button" role="tab" aria-controls="nav-mission"
                            aria-selected="true">mission</button>
                        <button class="nav-link" id="nav-organization-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-organization" type="button" role="tab" aria-controls="nav-organization"
                            aria-selected="false">organization</button>
                        <button class="nav-link" id="nav-comment-tab" data-bs-toggle="tab" data-bs-target="#nav-comment"
                            type="button" role="tab" aria-controls="nav-comment" aria-selected="false">Comments</button>

                    </div>
                </nav>

                <!-- tab for mission , organization and comment -->

                <div class="tab-content" id="nav-tabContent">

                    <!-- mission tab content -->

                    <div class="tab-pane fade show active" id="nav-mission" role="tabpanel"
                        aria-labelledby="nav-mission-tab" tabindex="0">
                        <div class="mt-3">
                            <h3>Introducation</h3>
                            <p class="">@Html.Raw(@Model.particularMission.Description)
                            </p>
                        </div>
                        <div>
                            <h3>Challenge</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu
                                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                officia
                                deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                                occaecat cupidatat
                                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>

                        <!-- document in mission tab -->

                        <div class="mb-2">
                            <h3>Documents</h3>
                            <div
                                class="documents d-flex align-items-center justify-content-start flex-row gap-3 gap-sm-2 flex-wrap ">
                                @{
                                    //    var missionDocument = Model.particularMission.MissionDocuments.Where(e => e.MissionId == Model.particularMission.MissionId).Count();
                                    //    if(missionDocument > 0)
                                    //    {
                                    //        for(var i =0 ; i< missionDocument ; i++ ) {
                                    //          <div class="d-flex align-items-center border rounded-pill flex-row p-lg-1 mt-1">
                                    //            <img src="~/images/pdf.png" class="p-1" width="21px" height="21px">
                                    //             <span class="pe-sm-1">@Model.particularMission.MissionDocuments.Where(e => e.DocumentType == "pdf")</span>
                                    //           </div>
                                    //}
                                    //    }
                                    foreach (var item in Model.particularMission.MissionDocuments)
                                    {
                                        if(item.DocumentType == "doc")
                                        {
                                            <div class="d-flex align-items-center border rounded-pill flex-row p-lg-1 mt-1">
                                               <a href="@item.DocumentPath" target="_blank" class="text-decoration-none"><img src="~/images/doc.png" class="p-1" width="21px" height="21px">
                                               <span class="pe-sm-1">@item.DocumentName</span></a>
                                            </div>
                                        }
                                        else if(item.DocumentType == "pdf")
                                        {
                                             <div class="d-flex align-items-center border rounded-pill flex-row p-lg-1 mt-1">
                                             <a href="@item.DocumentPath" target="_blank" class="text-decoration-none">  <img src="~/images/pdf.png" class="p-1" width="21px" height="21px">
                                               <span class="pe-sm-1">@item.DocumentName</span></a>
                                            </div>
                                        }
                                        else
                                        {
                                             <div class="d-flex align-items-center border rounded-pill flex-row p-lg-1 mt-1">
                                             <a href="@item.DocumentPath" target="_blank" class="text-decoration-none">  <img src="~/images/xlsx.png" class="p-1" width="21px" height="21px">
                                               <span class="pe-sm-1">@item.DocumentName</span></a>
                                            </div>
                                        }
                                    }
                                }
                                
                              
                                

                            </div>
                        </div>
                    </div>
   

                    <!-- Organization tab content -->

                    <div class="tab-pane fade" id="nav-organization" role="tabpanel"
                        aria-labelledby="nav-organization-tab" tabindex="0">

                        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam unde est amet dolore
                            voluptates. Libero in perspiciatis molestias culpa delectus dolor, dignissimos ipsam nam
                            nihil quam, adipisci iure consequuntur tenetur!</p>

                    </div>

                    <!-- comment tab content -->

                    <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab"
                        tabindex="0">
                        
                            <div class="form-group mt-4">
                                <textarea class="form-control" id="WriteCommentText" rows="3"
                                    placeholder="Enter your comments"></textarea>
                            </div>
                        

                        <div class="d-flex align-items-center justify-content-start mt-2">
                            <div class="mt-2  w-75  ">
                                <button  class="btn rounded-pill text-center btn_no py-2 px-3 apply__text__list" onclick="postcommentfunction()" value="@Model.particularMission.MissionId @Model.user.UserId">Post
                                    Comment<img src="~/images/right-arrow.png" style="pointer-events:none" class="ms-2"></button>

                            </div>
                        </div>
                        

                       <div id="commentbyuser">
                           
            @*                </div>
                            <div
                                class="col-12 d-flex flex-row gap-2 gap-lg-3 align-items-center  border mt-2  bg-white  rounded">
                                <img src="~/images/volunteer2.png" class="rounded-circle" alt="" width="54px"
                                    height="54px">
                                <div class="d-flex flex-column gap-1  justify-content-start">
                                    <span>kane Williomsons</span>
                                    <span>Monday, October 21, 2019, 11:13 AM</span>
                                    <p class="mt-2">This is helpful Mission</p>
                                </div>

                            </div>
                            <div
                                class="col-12 d-flex flex-row gap-2 gap-lg-3 align-items-center  border mt-2   bg-white rounded">
                                <img src="~/images/volunteer4.png" class="rounded-circle" alt="" width="54px"
                                    height="54px">
                                <div class="d-flex flex-column gap-1  justify-content-start">
                                    <span>Ian McCallam</span>
                                    <span>Monday, October 21, 2019, 10:52 AM</span>
                                    <p class="mt-2">I liked this Mission</p>
                                </div>
                                
                            </div>
                            <div
                                class="col-12 d-flex flex-row gap-2 gap-lg-3 align-items-center  border mt-2 mb-2   bg-white rounded">
                                <img src="~/images/volunteer8.png" class="rounded-circle" alt="" width="54px"
                                    height="54px">
                                <div class="d-flex flex-column gap-1  justify-content-start">
                                    <span>Ronald Korb</span>
                                    <span>Wednesday, October 09, 2019, 6:16 PM</span>
                                    <p class="mt-2">Good Opportunity</p>
                                </div> 
                                *@
                            @{
                                var status = "PUBLISHED";
                            }
                            <partial name="_Comments" model="Model.particularMission.Comments.Where(c => c.ApprovalStatus == @status && c.DeletedAt == null ).OrderByDescending(e => e.CreateAt)" />
                        </div>
                    </div>

                </div>
            </div>


            <!-- information and recent volunteer -->


            <div class="col-md-4 col-sm-12 ms-lg-5">
                <div class="rightside__container d-md-flex  d-lg-block align-items-center justify-content-center gap-1">

                    <!-- Information section  -->

                    <div class="border information__section p-4  ">
                        <div class=" row  mt-2 border-bottom ">
                            <h4 class="">Information</h4>
                        </div>
                        <div class="row flex-column ">
                            <div class="col d-flex  mt-3  gap-5 border-1 border-bottom ">
                                <span>Skills</span>
                                <span>@{    var skills = "";
                                    foreach(var item in Model.particularMission.MissionSkills)
                            {
                                 skills += item.Skill.SkillName + " ";

                            } } @skills</span>
                            </div>
                            <div class="col d-flex  mt-3 gap-5 border-1 border-bottom ">
                                <span> Days </span>
                                <span> @Model.particularMission.Availability</span>
                            </div>
                            <div class="col d-flex  mt-3 gap-5 border-1 ">
                                <span>Rating</span>
                                <div class="">
                                    @{
                                        for(var i =0 ; i < Model.AverageRating; i++)
                                        {
                                            <img src="~/images/selected-star.png" width="26px" height="26px" />
                                        }
                                        for(var i= Model.AverageRating ;i< 5 ;i++  )
                                        {
                                            <img src="~/images/star-empty.png" /> 
                                        }
                                       
                                    
                                    <span>(by @Model.missionRatings.Count()  Volunteers)</span>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Recent Volunteer section -->

                    <div class="recent__volunteer border mt-3 p-lg-3 p-sm-1">
                        <h4 class="mt-2 ms-4  ">Recent Volunteers</h4>
                        <hr>

                        <div class="row row-cols-3 ">
                          
                        @{   @foreach (var item in Model.RecentVolunteers.Where(volunteer => volunteer.ApprovalStatus == "APPROVED"))
                             {
                                    <div class="col d-flex flex-column align-items-center justify-content-center recent-vol">
                                <img src="@item.User.Avatar" class="rounded-circle " height="50" width="50" />
                                <span class="text-center">@item.User.FirstName @item.User.LastName</span>
                            </div>
                             }
                         

                            }
                   

                        </div>

                        <div>
                            <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-between border border-3" style="margin : 0px; align-items : center;">
                                        <li class="page-item disabled">
                                            <button id = "prev-vol" style="border : none; background : none;"><img
                                                    src="~/images/left.png" alt=""></button>
                                        </li>
                                        <li class="page-item border-3 border-end border-start" id="recentvolpagenumber"></li>
                                        <li class="page-item">
                                            <button id = "next-vol" style="border : none; background : none;"><img src="~/images/right-arrow1.png" alt=""></button>
                                        </li>
                                    </ul>
                                </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



        <!-- Related mission  -->




        <hr>
        <div class="container-fluid container-lg"></div>
        <h5 class="text-center"> Related Mission</h5>

        <div class="related__mission__card container ">
            <div class="row mt-3 row-cols-1 row-cols-sm-2 row-cols-lg-3">
@*
             @{
                 foreach (var item in Model.RelatedMission)
                 {

                      <div class="col  mb-3 total__mission" >
                <div class="card" style="max-width: 26rem;">

                    <div style="position: relative;">
                        @{
                       if(item.MissionMedia.Count > 0)
                                {
                                    <img class="card-img-top"
                                     src="@item.MissionMedia.FirstOrDefault(m => m.DefaultMissionMedia == 1).MediaPath"
                                     alt="Card image cap">
                                }
                                else
                                {
                                    <img class="card-img-top"
                                     src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                                     alt="Card image cap">                                    
                                }
                                }
                        <div style="position: absolute;bottom: 0;width: 100%;">
                            <p class="m-0 bg-white border rounded-pill text-center w-50"
                                style="transform: translate(50%, 50%) ;">@item.Theme.Title</p>
                        </div>

                        <div class="heart_image_container rounded-circle ">
                                @{
                                     var favCountofgrid = item.FavoriteMissions.Where(m => m.UserId == Model.user.UserId).Count();
                                    if (favCountofgrid > 0)
                                     {
                                    <button
                                                class="heart__image addToFavdiv rounded-circle bg-transparent border-0 pt-2 pt-sm-1 ps-sm-1 ps-2 pt-md-2 ps-md-2 m-0" value="@item.MissionId @Model.user.UserId"   >
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill fill-red  " style="color:red;pointer-events:none" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>

                                      
                                    </svg>
 
                            
                                    </button>
                                     }
                                    else
                                    {
                                        <button
                                            class=" heart__image addToFavdiv rounded-circle bg-transparent border-0 m-0 p-2"    value="@item.MissionId @Model.user.UserId">
                                            <img src="~/images/heart.png" alt="" class="" style="pointer-events:none" width="20px" height="20px" />
                            
                                        </button>
                                    }
                                 }
                        </div>

                        <div class="rounded-circle add__person__image__container " data-bs-toggle="modal" data-bs-target="#RecomendModal">
                            <img src="~/images/user.png" class="add__person__image">
                        </div>

                        <div class="city__container rounded-pill p-2">
                            <img src="~/images/pin.png" class="locatin__image">
                            <span class="text-white ">@item.City.Name</span>
                        </div>

                    </div>

                    <div class="card-body">
                        <h3 class="card-title  text-start mt-2">@item.Title
                        </h3>
                        <p class="card-text text-start">@item.ShortDescription</p>
                        <div class="d-flex justify-content-between mb-1 ">
                            <span>@item.OrganizationName</span>
                            <div class="star__container">
                                <img src="~/images/selected-star.png">
                                <img src="~/images/selected-star.png">
                                <img src="~/images/selected-star.png">
                                <img src="~/images/selected-star.png">
                                <img src="~/images/star.png">
                            </div>
                        </div>
                        <br />
                        <hr>
                        <div class="time__text border rounded-pill w-75 mx-auto ">
                            <span>From @item.StartDate.Value.ToShortDateString() until
                                @item.EndDate.Value.ToShortDateString()</span>
                        </div>


                        <div class="row mt-3 ms-2 mb-3">
                            <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                <img src="~/images/Seats-left.png" class="" width="30px" height="30px">
                                <div class="d-flex flex-column ">
                                    <h5 class="mb-0">10</h5>
                                    <span>Seats left</span>
                                </div>
                            </div>

                                @if (@item.MissionType == "TIME")
                                {
                                    <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                        <img src="~/images/deadline.png" width="40px" height="40px">
                                        <div class="d-flex flex-column">
                                            <h5 class="mb-0">@item.EndDate.Value.ToShortDateString()</h5>
                                            <span>Deadline</span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                     <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                            <img src="~/images/mission.png" width="30px" height="30px">
                                             <div class="d-flex flex-column">
                                                 <div class="Progress__bar"><progress max="10000" value="8000"></progress></div>
                                                 <span>8000 Achived</span>
                                            </div>
                                    </div>
                                }

                        </div>
                        <hr>
                        <div class="mt-2 apply__button    text-center apply__button  ">
                            <a class="btn rounded-pill   text-center apply__text " asp-controller="Mission" asp-action="VolunteeringPage" asp-route-id="@item.MissionId" >Apply <img
                                    src="~/images/right-arrow.png" class="ms-2"></a>

                        </div>
                    </div>

                </div>
            </div>

                 }
                 }
                 *@

              @foreach (var item in Model.RelatedMission) {


                
                    <div class="col  mb-3 total__mission" >
                        <div class="card" style="max-width: 26rem;">

                            <div style="position: relative;">
                                @{
                                    var missionImages = @item.MissionMedia.Where(media => media.MediaType != "URL"  );
                                    if(missionImages.Count() > 0)
                                {
                                    <img class="card-img-top"
                                     src="@missionImages.FirstOrDefault().MediaPath"
                                     alt="Card image cap" width="350" height="220">
                                }
                                else
                                {
                                    <img class="card-img-top"
                                    src="~/images/NoImage.png"
                                     alt="Card image cap" width="350" height="220">                                    
                                }
                                }
                        <div style="position: absolute;bottom: 0;width: 100%;">
                            <p class="m-0 bg-white border rounded-pill text-center w-50"
                                style="transform: translate(50%, 50%) ;">@item.Theme.Title</p>
                        </div>

                        <div class="heart_image_container rounded-circle ">
                                @{
                                     var favCountofgrid = item.FavoriteMissions.Where(m => m.UserId == Model.user.UserId).Count();
                                    if (favCountofgrid > 0)
                                     {
                                    <button
                                                class="heart__image addToFavdiv rounded-circle bg-transparent border-0 pt-2 pt-sm-1 ps-sm-1 ps-2 pt-md-2 ps-md-2 m-0" value="@item.MissionId @Model.user.UserId"   >
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill fill-red  " style="color:red;pointer-events:none" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>

                                      
                                    </svg>
 
                            
                                    </button>
                                     }
                                    else
                                    {
                                        <button
                                            class=" heart__image addToFavdiv rounded-circle bg-transparent border-0 m-0 p-2"    value="@item.MissionId @Model.user.UserId">
                                            <img src="~/images/heart.png" alt="" class="" style="pointer-events:none" width="20px" height="20px" />
                            
                                        </button>
                                    }
                                 }
                        </div>

                        <div class="rounded-circle add__person__image__container " data-bs-toggle="modal" data-bs-target="#RecomendModal_@item.MissionId">
                            <img src="~/images/user.png" class="add__person__image">
                        </div>

                                <!-- Recommendation Modal -->
                            <div class="modal fade " id="RecomendModal_@item.MissionId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content" >
                                
                                  <div class="modal-body">
                                  @foreach( var recuser in Model.User)
                                {
                                                @* onclick method is putted in volunteering page so kindly refer it*@
                                                   @* var mission = @Model.Mission.Where( e=> e.MissionId ==  )*@
                                                    <div class="d-flex flex-row justify-content-between mt-1">
                                                        <div class="d-flex flex-row gap-2">
                                                            <img src="~/images/volunteer1.png" class="rounded-circle" width="30px" height="30px" />
                                                            <span>@recuser.FirstName  @recuser.LastName</span>
                                                        </div>
                                                        <div>
                                                            <button type="button" value="@item.MissionId @Model.user.UserId @recuser.UserId @recuser.Email" onclick="recomendtoyourfriend()" class="btn btn-primary RecommendationButton">Recommend </button>
                                                        </div>
                                                    </div>
                                       
                                    }      
                                            </div>
                                  
                                </div>
                              </div>
                            </div>

                        <div class="city__container rounded-pill p-2">
                            <img src="~/images/pin.png" class="locatin__image">
                            <span class="text-white ">@item.City.Name</span>
                        </div>

                    </div>

                    <div class="card-body">
                        <h3 class="card-title  text-start mt-2">@item.Title
                        </h3>
                        <p class="card-text text-start">@item.ShortDescription</p>
                        <div class="d-flex justify-content-between mb-1 ">
                            <span>@item.OrganizationName</span>
                            <div class="star__container">
                                @{
                                    int sum = 0;
                                    var averageRating = 0;
                                    foreach (MissionRating rating in item.MissionRatings.Where(rating => rating.User.Status == 1))
                                            {
                                                sum += rating.Rating;
                                            }
                                            if (sum > 0)
                                            {
                                                 averageRating = sum / item.MissionRatings.Count();
                                            }
                                            else
                                            {
                                                averageRating = 0;
                                            }
                                        for(var i =0 ; i <  averageRating; i++)
                                        {
                                            <img src="~/images/selected-star.png" width="26px" height="26px" />
                                        }
                                        for(var i=  averageRating ;i< 5 ;i++  )
                                        {
                                            <img src="~/images/star-empty.png" /> 
                                        }
                                  }
                            </div>
                        </div>
                        <br />
                        <hr>
                        <div class="time__text border rounded-pill w-75 mx-auto ">
                            @{
                                if(@item.MissionType == "TIME") {

                                    if(item.EndDate > DateTime.Now)
                                    {
                                        <span>Ongoing Opportunity</span>

                                    }
                                    else
                                    {
                                       <span>From @item.StartDate.Value.ToShortDateString() until @item.EndDate.Value.ToShortDateString()</span>
                                    }
                                }

                                else
                                {
                                    var goalText = item.GoalMissions.FirstOrDefault();
                                    if(goalText == null )
                                    {
                                        <span>Goal is not defined</span>
                                    }
                                    else
                                    {
                                      <span>@goalText.GoalObjectiveText</span>  
                                    }
                                    
                                }

                         }
                        </div>


                        <div class="row mt-3 ms-2 mb-3">

                         @if (@item.MissionType == "TIME")
                                {
                            <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                <img src="~/images/Seats-left.png" class="" width="30px" height="30px">
                                <div class="d-flex flex-column ">
                                     <h5 class="mb-0"> 
                                     @{
                                            var totalseatsInRelated = @item.TotalSeats;
                                            
                                            var enrolledseatsInRelated = @Model.missionApplications.Where(e => e.MissionId == @item.MissionId && e.ApprovalStatus == "APPROVED").Count();
                                            var seatsLeftInRelated = totalseatsInRelated - enrolledseatsInRelated;    
                                    }
                                    @seatsLeftInRelated</h5> 
                                    <span>Seats left</span>
                                </div>
                            </div>

                               
                                    <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                        <img src="~/images/deadline.png" width="40px" height="40px">
                                        <div class="d-flex flex-column">
                                            <h5 class="mb-0">@item.EndDate.Value.ToShortDateString()</h5>
                                            <span>Deadline</span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                     <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                            <img src="~/images/mission.png" width="30px" height="30px">
                                             <div class="d-flex flex-column">
                                                @{
                                                   var targetValue = @item.GoalMissions.FirstOrDefault().GoalValue;
                                                    var totalTimesheet = @item.Timesheets.Where(timesheet => timesheet.Status == "APPROVED");
                                                    
                                                    int? achievedValue = 0;
                                                   
                                                    foreach (var action in totalTimesheet)
                                                    {
                                                        achievedValue +=  @action.Action ;
                                                    }
                                                    


                                                 <div class="Progress__bar"><progress max="@targetValue" value="@achievedValue"></progress></div>
                                                 <span>@achievedValue Achived</span>
                                                 }
                                            </div>
                                    </div>
                                }

                        </div>
                        <hr>
                        <div class="mt-2 apply__button    text-center apply__button  ">
                                    @{
                                        var userappliedOrNot = @Model.missionApplications.FirstOrDefault(e => e.UserId == @Model.user.UserId && e.MissionId == item.MissionId  && e.ApprovalStatus != "DECLINE");
                                        if(userappliedOrNot != null)
                                        {
                                            if(userappliedOrNot.ApprovalStatus == "PENDING")
                                            {
                                                <a class="btn rounded-pill text-center border-1 border-info text-info btn_no py-3 px-5   apply__text__list" asp-controller="Mission" asp-action="VolunteeringPage" asp-route-id="@item.MissionId">Pending <i class="bi bi-arrow-right text-info"></i> </a>
                                            }
                                            else{
                                                <a class="btn rounded-pill text-center border-1 border-success text-success btn_no py-3 px-5   apply__text__list" asp-controller="Mission" asp-action="VolunteeringPage" asp-route-id="@item.MissionId">Already Applied <i class="bi bi-arrow-right text-success"></i></a>
                                            }
                                            
                                        }
                                        else
                                        {
                                            <a class="btn rounded-pill   text-center apply__text " asp-controller="Mission" asp-action="VolunteeringPage" asp-route-id="@item.MissionId" >Apply <img src="~/images/right-arrow.png" class="ms-2"></a>
                                        }
                                    }
                            

                        </div>
                    </div>

                </div>
            </div>
            
                     }
               
            </div>
        </div>
       








                <!-- Recommendation Modal -->
            <div class="modal fade " id="RecomendModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Recommendation to co-worker</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                                @foreach( var item in Model.User)
                                {
                                    <div class="d-flex flex-row justify-content-between mt-1">
                                        <div class="d-flex flex-row gap-2">
                                            <img src="~/images/volunteer1.png" class="rounded-circle" width="30px" height="30px" />
                                            <span>@item.FirstName  @item.LastName</span>
                                        </div>
                                        <div id="RecommendationDiv">
                                            <button type="button" value="@Model.particularMission.MissionId @Model.user.UserId @item.UserId @item.Email" onclick="recomendtoyourfriend()" class="btn btn-primary ">Recommend </button>
                                        </div>
                                    </div>
                       
                                }
                            </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>


                <!-- Rating Modal -->
            <div class="modal fade" id="RatingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mission Rating</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <div
                                    class="d-flex  align-items-center justify-content-center  text-center  mx-auto  " >
                                     <button class="m-0 p-0 border-0 bg-white  ratingStar" >  <img src="~/images/star-empty.png" value="1 @Model.particularMission.MissionId @Model.user.UserId"  alt="" /> </button>
                                     <button class="m-0 p-0 border-0 bg-white ratingStar" >  <img src="~/images/star-empty.png" value="2 @Model.particularMission.MissionId @Model.user.UserId"  alt="" /> </button>
                                     <button class="m-0 p-0 border-0 bg-white ratingStar" >  <img src="~/images/star-empty.png" value="3 @Model.particularMission.MissionId @Model.user.UserId"  alt="" /> </button>
                                     <button class="m-0 p-0 border-0 bg-white ratingStar" >  <img src="~/images/star-empty.png" value="4 @Model.particularMission.MissionId @Model.user.UserId"  alt="" /> </button>
                                     <button class="m-0 p-0 border-0 bg-white ratingStar" >  <img src="~/images/star-empty.png" value="5 @Model.particularMission.MissionId @Model.user.UserId"  alt="" /> </button>

                                </div>
                  </div>
                  <div class="modal-footer">
                   @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>*@
                  </div>
                </div>
              </div>
            </div>


    <script>

        function openNav() {
            document.getElementById("mySidebar").style.width = "275px";
            document.getElementById("main").style.marginLeft = "275px";
            document.getElementById("openbtn").style.display = "none";
            document.getElementById("menubr").style.display = "none";
            document.getElementById("img_user").onload = function () { displayNone() };
            document.getElementById("img_user").style.display = "block";

        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("openbtn").style.display = "block";
            document.getElementById("menubr").style.display = "block";
        }
    </script>

    <script>
        let items = document.querySelectorAll('.carousel .carousel-item')
        items.forEach((el) => {
            const minPerSlide = 4
            let next = el.nextElementSibling
            for (var i = 1; i < minPerSlide; i++) {
                if (!next) {
                    // wrap carousel by using first child
                    next = items[0]
                }
                let cloneChild = next.cloneNode(true)
                el.appendChild(cloneChild.children[0])
                next = next.nextElementSibling
            }
        })

    </script>
   
   
    
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/VolunteeringPage.js" ></script>
    <script src="~/js/site.js" ></script>
   


</body>

</html>