@using CI_Platfrom.Entities.Models.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
ViewData["Title"] = "Add Your Story Page";
Layout = "~/Views/Shared/_StoryHeader.cshtml";
}

@model StoryVM




<div class="container">
    <h1 class="sharestoryheader mb-4">Share your story</h1> 
    <form method="post" enctype="multipart/form-data" asp-controller="Story" asp-action="AddYourStoryPage">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <label  class="form-label">Select Mission</label>
                <select  id="selectMission" asp-for="@Model.particularStory.MissionId" class="form-select mb-3" aria-label="Default select example">
                  
                  <option   selected>Select your mission</option>
                    @{
                        
                        {
                            foreach (var item in @Model.LogingUserMissions)
                            {
                                <option value="@item.Mission.MissionId" class="MissionIdFromTitle"  > @item.Mission.Title</option>
                            }
                        }
                    }
                  

                </select>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="mb-3">
                  <label asp-for="@Model.particularStory.Title"  class="form-label">My story title</label>
                  <input asp-for="@Model.particularStory.Title"   type="text" class="form-control mb-3 " id="storyTitle" aria-describedby="emailHelp" placeholder="Enter story title"> 
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="mb-3">
                  <label asp-for="@Model.particularStory.PublishedAt"   class="form-label">Date</label>
                  <input asp-for="@Model.particularStory.PublishedAt"  type="date" class="form-control mb-3" id="StoryDate" aria-describedby="emailHelp">
                </div>
            </div>
            

        </div>

         <div class="col-auto mb-4">
             <label asp-for="@Model.particularStory.Description" class="sharestoryheader mb-4">Story</label> 
            
                 <textarea asp-for="@Model.particularStory.Description" cols="30"  rows="10" id="Content" class="ckeditor"></textarea>
           
        </div>

        <div class="row mb-4">
            <div class="col">

                <label  asp-for="@Model.particularStoryVideo.Path" class="form-label">Enter video url</label>
                <input  asp-for="@Model.particularStoryVideo.Path"  type="text" class="form-control" id="storyVideoUrl" aria-describedby="emailHelp" placeholder="Enter your url"> 

            </div>
        </div>
        <div class="row mb-4">
            <div class="col">

                <label  for="files" class="form-label">Upload your photos</label>
                
               
                <div class="card drag-card" style="border: none;">
                    <div class="drag-area">
                    <span class="visible">
                    <span class="select" role="button"><img src="~/images/drag-and-drop.png"></span>
                    </span>
                    <span class="on-drop">Drop images here</span>
                    <input name="files" id="filesName" type="file" class="file" multiple />
                    </div>


                    <!-- IMAGE PREVIEW CONTAINER -->
                    <div class="container-img mt-3 justify-content-center"></div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row gap-1 justify-content-between">
            <div>
                <button type="button" class="px-4 py-1 px-md-5  text-center  rounded-pill bg-white border-2 border-secondary">Cancel</button>
            </div>
            <div>
                   <button type="button" class="px-4 py-1 px-md-5 orage_color rounded-pill bg-white border-2 " onclick="StorySave()"   >Save</button>
                <button type="submit" class="px-4 py-1 px-md-5  orage_color rounded-pill bg-white border-2 " onclick=" textareaval()"   id="StorySubmitButton"  >Submit</button>
            </div>
        </div>
    </form>
 

</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/ckeditor/ckeditor.js"></script>

    <script src="~/js/addMyStory.js" asp-append-version="true"></script>