@using CI_Platfrom.Entities.Models.ViewModel

@model MissionVM

<div id="list__view__container" class="hide">

    @foreach (var item in Model.Mission)
    {
        <div class="card mb-3 mt-3 total__mission" style="max-width: 100%;">
            <div class="row no-gutters">



                <div class="col-md-4 ">
                    <div style="position: relative;height: 100%;">

                        @{
                            var missionImages = @item.MissionMedia.Where(media => media.MediaType != "URL");
                            if (missionImages.Count() > 0)
                            {
                                <img class="card-img-top"
                             src="@missionImages.FirstOrDefault().MediaPath"
                             alt="Card image cap" width="400" height="250">
                            }
                            else
                            {
                                <img class="card-img-top"
                         src="~/images/NoImage.png"
                         alt="Card image cap" width="400" height="250">
                            }
                        }
                        <div style="position: absolute;bottom: 0;width: 100%;">
                            <p class="m-0 bg-white border rounded-pill text-center w-50"
                           style="transform: translate(50%, 50%) ;">@item.Theme.Title</p>
                        </div>
                        <div class="heart__image__container__listView rounded-circle ">

                            @{
                                var favCount = item.FavoriteMissions.Where(m => m.UserId == Model.user.UserId).Count();
                                if (favCount > 0)
                                {
                                    <button class="heart__image addToFavdiv rounded-circle bg-transparent border-0 pt-2 pt-sm-1 ps-sm-1 ps-2 pt-md-2 ps-md-2 m-0" value="@item.MissionId @Model.user.UserId">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill fill-red  " style="color:red;pointer-events:none" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />


                                        </svg>


                                    </button>
                                }
                                else
                                {
                                    <button class=" heart__image addToFavdiv rounded-circle bg-transparent border-0" value="@item.MissionId @Model.user.UserId">
                                        <img src="~/images/heart.png" alt="" class="" style="pointer-events:none" width="22px" height="22px" />

                                    </button>
                                }
                            }

                        </div>
                        <div class="rounded-circle add__person__image__container__listView" data-bs-toggle="modal" data-bs-target="#RecomendModalList_@item.MissionId">
                            <img src="~/images/user.png" class="add__person__image">
                        </div>


                             <!-- Recommendation Modal -->
                            <div class="modal fade " id="RecomendModalList_@item.MissionId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content" >
                                
                                  <div class="modal-body">
                                  @foreach( var recuser in Model.User)
                                {
                                                @* onclick method is putted in volunteering page so kindly refer it*@
                                                   @* var mission = @Model.Mission.Where( e=> e.MissionId ==  )*@
                                                    <div class="d-flex flex-row justify-content-between mt-1">
                                                        <div class="d-flex flex-row gap-2">
                                                            <img src="@recuser.Avatar" class="rounded-circle" width="30px" height="30px" />
                                                            <span>@recuser.FirstName  @recuser.LastName</span>
                                                        </div>
                                                        <div>
                                                            <button type="button" value="@item.MissionId @Model.user.UserId @recuser.UserId @recuser.Email" onclick="recomendtoyourfriend()" class="btn btn-primary RecommendationButton">Recommend </button>
                                                        </div>
                                                    </div>
                                       
                                    }      
                                            </div>
                                  
                                </div>
                              </div>
                            </div>
                        <div class="city__container__list rounded-pill">
                            <img src="~/images/pin.png" class="locatin__image">
                            <span class="text-white">@item.City.Name</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8  ">
                    <div class="card-body">
                        <h3 class="card-title mt-2">@item.Title</h3>
                        <p class="card-text">@item.ShortDescription</p>
                        <div class="row  justify-content-between ">


                            <div class="col d-flex flex-row align-items-center justify-content-start">
                                <span class="">@item.OrganizationName</span>
                                <div class="star__container ms-3 ">
                                    @{
                                        int sum = 0;
                                        var averageRating = 0;
                                        foreach (MissionRating rating in item.MissionRatings.Where(rating => rating.User.Status == 1))
                                        {
                                            sum += rating.Rating;
                                        }
                                        if (sum > 0)
                                        {
                                            averageRating = sum / item.MissionRatings.Count();
                                        }
                                        else
                                        {
                                            averageRating = 0;
                                        }
                                        for (var i = 0; i < averageRating; i++)
                                        {
                                            <img src="~/images/selected-star.png" width="26px" height="26px" />
                                        }
                                        for (var i = averageRating; i < 5; i++)
                                        {
                                            <img src="~/images/star-empty.png" />
                                        }
                                    }
                                </div>
                            </div>

                            <div class="col">
                                <hr class="">
                                <div class="time__text__list w-75 ms-5 text-center border rounded-pill ">
                                    <span>From @item.StartDate.Value.ToShortDateString() until @item.EndDate.Value.ToShortDateString()</span>
                                </div>
                            </div>

                        </div>
                        <div class="row justify-content-between  mt-3">
                            <div class="col mt-2 ml-0 apply__button__list     ">
                                   @{
                                        var userappliedOrNot = @Model.missionApplications.FirstOrDefault(e => e.UserId == @Model.user.UserId && e.MissionId == item.MissionId  && e.ApprovalStatus != "DECLINE");
                                       
                                        var EndDateforcloseList = @item.Deadline;
                                        var TodayList = DateTime.Now;
                                        if(TodayList > EndDateforcloseList)
                                        {
                                        <a class="btn rounded-pill text-center border-1 border-danger text-danger btn_no apply__text__list" asp-controller="Mission" asp-action="VolunteeringPage" asp-route-id="@item.MissionId">Closed <i class="bi bi-arrow-right text-danger"></i></a>
                                    }
                                    else
                                    {
                                    if(userappliedOrNot != null)
                                        {
                                            if(userappliedOrNot.ApprovalStatus == "PENDING")
                                            {
                                                <a class="btn rounded-pill text-center border-1 border-info text-info   apply__text__list" asp-controller="Mission" asp-action="VolunteeringPage" asp-route-id="@item.MissionId">Pending <i class="bi bi-arrow-right text-info"></i> </a>
                                            }
                                            else{
                                                <a class="btn rounded-pill text-center border-1 border-success text-success    apply__text__list" asp-controller="Mission" asp-action="VolunteeringPage" asp-route-id="@item.MissionId">Already Applied  <i class="bi bi-arrow-right text-success"></i></a>
                                            }
                                            
                                        }
                                        else
                                        {
                                            <a class="btn rounded-pill   text-center apply__text " asp-controller="Mission" asp-action="VolunteeringPage" asp-route-id="@item.MissionId" >Apply <img src="~/images/right-arrow.png" class="ms-2"></a>
                                        }
                                   }
                                }
                            </div>
                            <div class="col">



                                <div class="row  mb-3">
                                    @{
                                        if (@item.MissionType == "TIME")
                                        {
                                            <div class="d-flex flex-row gap-1 align-items-center justify-content-center col">

                                                <img src="~/images/Seats-left.png" class="" width="30px" height="30px">
                                                <div class="d-flex flex-column ">
                                                    <h5 class="mb-0">
                                                        @{
                                                            var totalseats = @item.TotalSeats;
                                                            var enrolledseats = @Model.missionApplications.Where(e => e.MissionId == @item.MissionId && e.ApprovalStatus == "APPROVED").Count();
                                                            var seatsLeft = totalseats - enrolledseats;
                                                        }
                                                        @seatsLeft
                                                    </h5>
                                                    <span>Seats left</span>
                                                </div>
                                            </div>



                                            <div class="d-flex flex-row gap-3 align-items-center justify-content-center col-auto">
                                                <img src="~/images/deadline.png" width="40px" height="40px">
                                                <div class="d-flex flex-column">
                                                    <h5 class="mb-0">@item.EndDate.Value.ToShortDateString()</h5>
                                                    <span>Deadline</span>
                                                </div>
                                            </div>
                                        }

                                        else
                                        {
                                            <div class="d-flex flex-row gap-1 align-items-center justify-content-center col">
                                                <img src="~/images/mission.png" width="30px" height="30px">
                                                <div class="d-flex flex-column">
                                                    @{
                                                        var targetValue = @item.GoalMissions.FirstOrDefault().GoalValue;
                                                        var totalTimesheet = @item.Timesheets.Where(timesheet => timesheet.Status == "APPROVED");
                                                        int? achievedValue = 0;

                                                        foreach (var action in totalTimesheet)
                                                        {
                                                            achievedValue += @action.Action;
                                                        }
                                                        <div class="Progress__bar"><progress max="@targetValue" value="@achievedValue"></progress></div>
                                                        <span>@achievedValue Achived</span>

                                                    }
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
