@using CI_Platfrom.Entities.Models.ViewModel

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



@model MissionVM

@*<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platfrom Landing Page</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/landingpage.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script>
        window.onload = function () {
            document.getElementById("grid__view__button").click();
        };
    </script>
</head>


<body>*@
<div class="container">

        <!--   side bar for small Screen  -->
        <span class="" id="Countryname" value="ViewBag.countryname.Name"></span>
       

        <!-- <div id="main">
            <button class="openbtn d-sm-none" id="openbtn" onclick="openNav()">☰ </button> -->

        <div class="main">
            <div class="d-flex justify-content-between border-bottom d-sm-none" id="menubr">
                <button class="openbtn " id="openbtn" onclick="openNav()">
                    <img src="~/images/list.png" alt="">
                </button>
                <p>&nbsp</p>
                <div class="dropdown text-end start-0 d-sm-none " id="img_user">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="@Model.user.Avatar" alt="user image" width="40" height="40" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small mt-3" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" asp-action="UserProfile" asp-controller="Registration">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" asp-action="logout" asp-controller="Authentication">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- fileter and profile pic for small screen -->


        <div class="container">
            <header class="p-3 mb-3 ">
                <div class="container d-none d-sm-block ">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">


                        <ul class="nav col-auto col-lg-auto me-auto mb-2 justify-content-center mb-md-0 gap-3 ms-5 ">
                            <li><a href="/Story/StoryListingPage" class="nav-link px-2 link-dark">Stories</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Policies
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>

                        </ul>

                        <div class="dropdown text-end ">
                            <a href="#" class="d-inline d-sm-block link-dark text-decoration-none dropdown-toggle"
                                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@Model.user.Avatar" alt="user image" width="40" height="40"
                                    class="rounded-circle">
                                <span class=""> @Model.user.FirstName   @Model.user.LastName</span>
                            </a>
                            <ul class="dropdown-menu text-small mt-3" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" asp-action="UserProfile" asp-controller="Registration">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" asp-action="logout" asp-controller="Authentication">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

        </div>




        <!-- Search and fileter options -->

        <nav class="navbar navbar-expand-lg navbar-light bg-white  d-none d-sm-block  ">
            <div class="container-fluid ">
                <div class="col-auto col-sm-4  mt-2 border-end ">
                    <form class="d-flex align-items-center ">
                        <img class="" width="20" height="20"  src="~/images/search.png">
                        <input class="form-control  ms-2 border-0 " id="search__bar" type="search" placeholder="Search"
                            aria-label="Search" >

                    </form>
                </div>
                <div class="col-auto col-sm-2 mt-2 border-end ">
                    <div class="dropdown">
                        <a class="btn bg-white  " data-toggle="dropdown" href="#" role="button" id="country"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Country
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-down ms-lg-5" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </a>

                        <ul class="dropdown-menu" id="country" aria-labelledby="dropdownMenuLink">
                             <li value="0 All" ><a class="dropdown-item countryList" asp-controller="Mission" asp-action="LandingPage"  asp-route-countryId=0>All Countries</a></li>
                               
                            @foreach (var item in Model.Country)
                            {
                                 <li  value="@item.CountryId @item.Name"><a class="dropdown-item countryList" asp-controller="Mission" asp-action="LandingPage" asp-route-countryId=@item.CountryId>@item.Name</a></li>
                                    
                            }
                           
                           
                        </ul>
                       @* <script>
                            $(document).ready(function(){
                              
                        </script>*@
                    </div>
                </div>
                <div class="col-auto col-sm-2 mt-2 border-end">
                    <div class="dropdown">
                        <a class="btn bg-white  " data-toggle="dropdown" href="#" role="button" 
                            data-bs-toggle="dropdown" aria-expanded="false">
                            City
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-down ms-lg-5" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </a>


                        <ul id="cities" class="dropdown-menu ps-4 scrollbar" aria-labelledby="navbarDropdownMenuLink">
                            @foreach (var item in Model.City)
                            {
                               <div class="form-check ">
                                     <input class="form-check-input cityNames" type="checkbox" value="@item.Name" id="defaultCheck1">
                                         <label class="form-check-label" for="defaultCheck1">
                                            @item.Name
                                         </label>
                               </div>
                            }
                          
                          
                           
                        </ul>
                    </div>
                </div>
                <div class="col-auto col-sm-2 mt-2 border-end">
                    <div class="dropdown">
                        <a class="btn bg-white " data-toggle="dropdown" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Skill
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-down ms-lg-5" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </a>



                        <ul class="dropdown-menu ps-4 scrollbar" aria-labelledby="dropdownMenuLink">
                            
                        
                             @foreach (var item in Model.skills)
                            {
                               <div class="form-check  ">
                                     <input class="form-check-input skillNames" type="checkbox" value="@item.SkillName" id="defaultCheck1">
                                         <label class="form-check-label" for="defaultCheck1">
                                            @item.SkillName
                                         </label>
                               </div>
                            }
                           
                        </ul>
                    </div>
                </div>
                <div class="col-auto col-sm-2 mt-2 border-end">
                    <div class="dropdown">
                        <a class="btn bg-white" data-toggle="dropdown" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Theme
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-down ms-lg-5" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </a>

                           <ul class="dropdown-menu ps-4 scrollbar" aria-labelledby="dropdownMenuLink">
                            
                        
                             @foreach (var item in Model.MissionTheme)
                            {
                               <div class="form-check ">
                                     <input class="form-check-input themeNames " type="checkbox" value="@item.Title" id="defaultCheck1">
                                         <label class="form-check-label" for="defaultCheck1">
                                           @item.Title
                                         </label>
                               </div>
                            }
                           
                        </ul>
                    </div>
                </div>

            </div>
            <hr style="height:3px;color:#cccccc" / >
        </nav>



               <!-- mobile view html for serch and filter  -->



        <div class="container-fluid border-bottom border-2 d-sm-none mb-3">
            <div class="col-auto col-sm-4 mt-2 mb-2">
                <form class="d-flex align-items-center ">
                    <input class="form-control ms-2 border-0 " id="search__bar__sm" type="search"  placeholder="Search missions..."
                        aria-label="Search">
                    <img src="~/images/filter.png" class="gap-2" onclick="openNav()" alt="">
                </form>
            </div>
        </div>

         <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <form class="d-flex align-items-center mx-1 ">
                <input class="form-control  ms-2 border-0" type="search" placeholder="Search missions...."
                    aria-label="Search">
            </form>
            <a href="#">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Country
                </a>
                 <ul id="country" class="dropdown-menu" id="countryDropdown" aria-labelledby="dropdownMenuLink">
                            @foreach (var item in Model.Country)
                            {
                                  <li value="@item.CountryId @item.Name"><a class="dropdown-item countryList" asp-controller="Mission" asp-action="LandingPage" asp-route-countryId=@item.CountryId>@item.Name</a></li>
                            }        
                 </ul>
            </a>

            <a href="#">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    City
                </a>
              
                        <ul id="cities" class="dropdown-menu ps-4 scrollbar" aria-labelledby="navbarDropdownMenuLink">
                            @foreach (var item in Model.City)
                            {
                              <div class="form-check ">
                                     <input class="form-check-input cityNames" type="checkbox" value="@item.Name" id="defaultCheck1">
                                         <label class="form-check-label" for="defaultCheck1">
                                            @item.Name
                                         </label>
                               </div>
                            }
                          
                          
                           
                        </ul>
            </a>

            <a href="#">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Theme
                </a>
                      <ul class="dropdown-menu ps-4 scrollbar" aria-labelledby="dropdownMenuLink">
                            
                        
                             @foreach (var item in Model.MissionTheme)
                            {
                               <div class="form-check ">
                                     <input class="form-check-input themeNames " type="checkbox" value="@item.Title" id="defaultCheck1">
                                         <label class="form-check-label" for="defaultCheck1">
                                           @item.Title
                                         </label>
                               </div>
                            }
                           
                        </ul>
            </a>
            <a href="#">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Skills
                </a>
                  <ul class="dropdown-menu ps-4 scrollbar" aria-labelledby="dropdownMenuLink">
                            
                        
                             @foreach (var item in Model.skills)
                            {
                                 <div class="form-check  ">
                                     <input class="form-check-input skillNames" type="checkbox" value="@item.SkillName" id="defaultCheck1">
                                         <label class="form-check-label" for="defaultCheck1">
                                            @item.SkillName
                                         </label>
                               </div>
                            }
                           
                        </ul>
            </a>
            <a   asp-action="StoryListingPage" asp-controller="Story">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Stories
                </a>
                <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Somethi</a></li>
                </ul>

            </a>
            <a href="#">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Policies
                </a>
                <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Policy 1</a></li>
                    <li><a class="dropdown-item" href="#">Policy 2</a></li>
                    <li><a class="dropdown-item" href="#">Policy 3</a></li>
                </ul>
            </a>

            <!-- <a href="#">Contact</a>
            <a href="#">Contact</a>  -->


        </div>


</div>

@*    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.getElementById("openbtn").style.display = "none";

        }
  

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("openbtn").style.display = "block";
        }
    </script>

    *@
@*
    <script>

        $(document).ready(function() {
        $('#country a').click(function () {
            var CountryId = $(this).val();
            $.ajax({
                url: '/Mission/GetThemesByCity',
                type: 'GET',
                data: { CountryId: CountryId },
                dataType: 'json',
                success: function (data) {
                    var cities = $('#cities');
                    cities.empty();
                    var items = "";
                    $.each(data, function (i, item) {
                        items += `<li class="ms-2"><input type="checkbox" class="form-check-input me-3" id="exampleCheck1" value=` + item.cityId + `><label class="form-check-label" for="exampleCheck1" >` + item.name + `</label></li>`
        
                    });
                    cities.html(items);
                }
            });
        });
    });
    </script>*@

