

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



@using CI_Platfrom.Entities.Models.ViewModel

@model AdminVM
<div class="addformbody">
    <div>
        <h3 class="addformheader">User</h3>
        </div>
        <div class="addformdata">
            <form method="post" asp-action="AddUser" onsubmit="return isValidUserAdmin()" asp-controller="Admin">
@*                <input asp-for="@Model.loggeduser.Email" id="adminEmail" hidden>*@
                <input asp-for="@Model.particularUser.UserId" id="userid" hidden>
                <div class="row mb-3">
                    <div class="col">
                        <label  class="form-label">First Name :</label>
                        <input asp-for="@Model.particularUser.FirstName" oninput="removeUserValidation()" type="text" class="form-control" id="FirstName">
                        <span id="FirstNameValidation" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label  class="form-label">Last Name :</label>
                        <input asp-for="@Model.particularUser.LastName" oninput="removeUserValidation()" type="text" class="form-control" id="LastName">
                        <span id="LastNameValidation" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class=col>
                        <label  class="form-label">Email :</label>
                        <input asp-for="@Model.particularUser.Email" type="email" oninput="removeUserValidation()"  class="form-control" id="Email">
                        <span id="EmailValidation" class="text-danger"></span>
                    </div>
                    <div class=col>
                        <label  class="form-label">Phone Number :</label>
                        <input asp-for="@Model.particularUser.PhoneNumber" type="text" placeholder="7080901020" oninput="removeUserValidation()"  class="form-control" id="PhoneNumber">
                        <span id="PhoneNumberValidation" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label  class="form-label">EmployeeId :</label>
                        <input asp-for="@Model.particularUser.EmployeeId" type="text" oninput="removeUserValidation()" class="form-control" id="EmployeeId">
                        <span id="EmployeeIdValidation" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label  class="form-label">Department Name :</label>
                        <input asp-for="@Model.particularUser.Department" type="text" oninput="removeUserValidation()" class="form-control" id="DepartmentName">
                        <span id="DepartmentNameValidation" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label  class="form-label">Country :</label>
                        <select asp-for="@Model.particularUser.CountryId" class="form-select" onchange="removeUserValidation()" asp-items="@Model.countries"  id="CountryId" aria-label="Default select example" >
                          <option value="-1" selected>Select Country</option>
                        </select>
                        <span id="CountryIdValidation" class="text-danger"></span>
                    </div>
                    <div class="col" id="adminCityList">
                         <label  class="form-label">City :</label>
                        <select asp-for="@Model.particularUser.CityId" class="form-select" onchange="removeUserValidation()" asp-items="@Model.cities"  id="CityId" aria-label="Default select example" >
                          <option value="-1" selected>Select City</option>
                        </select>
                        <span id="CityIdValidation" class="text-danger"></span>
                    </div>
                <div class="row mb-3">
                    <div class="col">
                        <label  class="form-label">Status :</label>
                        <select asp-for="@Model.particularUser.Status" id="status"  class="form-select" aria-label="Default select example">
                          <option value="1" selected>Active</option>
                          <option value="0">InActive</option>
                        </select>
                    </div>
                    <div class="col">
                        <label  class="form-label">Role :</label>
                        <select asp-for="@Model.particularUser.Role" id="Role"  class="form-select" aria-label="Default select example">
                          <option value="USER" selected>USER</option>
                          <option value="ADMIN">ADMIN</option>
                        </select>
                    </div>
                </div>
                   @* <div class="col">
                        <label  class="form-label">Role :</label>
                        <select asp-for="@Model.particularUser.ro" id="status" class="form-select" aria-label="Default select example">
                          <option value="1" selected>Active</option>
                          <option value="0">InActive</option>
                        </select>
                    </div>*@
                </div>
                <div class="text-end">
                     <a asp-action="UserAdminTab" asp-controller="Admin" type="button" class="btn border-secondary px-3 py-1 text-secondary  text-center rounded-pill bg-white">Cancel</a>
                    <button type="submit"  class="btn px-3 text-success py-1 border-success text-center rounded-pill bg-white">Save</button>
                </div>
            </form>
        </div>
    
</div>

@*<script>
    $("#CountryId").on('change',function() {
        let countryId =   $("#CountryId").find(":selected").val();
        $.ajax({
            url: "/Mission/GetCityByCountry?CountryId="+countryId,
            type:"GET",
            success: function (data) {
                console.log(data);
                var items= "";
                for(let i=0 ; i< data.length; i++ ) {
                    items += `<option value="${data[i].cityId}" selected>${data[i].name}</option>`
                }
                $('#CityId').html(items);
            },
            error: function (error) {
                console.log(error);
            }
        })
    })
</script>*@